<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="manifest" href="/manifest.json">
        <script type="module" src="/pwabuilder-sw-register.js"></script>
        <!-- <script type="module" src="https://cdn.jsdelivr.net/npm/@pwabuilder/pwaauth@latest/dist/pwa-auth.min.js"></script>  -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet"> -->
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <script type="text/javascript" src="/javascripts/routineDescription.js"></script> 
        <script type="text/javascript" src="/javascripts/getCook.js"></script> 
        <script type="text/javascript" src="/javascripts/dateToDisplay.js"></script> 
        <script type="text/javascript" src="/javascripts/logout.js"></script> 
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    </head>
   
    
    <body>

        <div class="container">

            <a style="position:absolute; height: 3vh; right: 2vw; top:2vh; cursor:pointer" onclick="openMenuModal()">
                <img id="hamburgerButton" src="./images/hamburgerDots.png" height="100%">
            </a>

            <div id="menuModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p id="menuModalText" class="modalText" onclick="logout()">Log Out</p>
                    <a id="gamificationTrigger">
                        <p id="menuModalTextGamification" class="modalText" ></p>
                    </a>
                    
                </div>
            </div>

        
            <!-- Calendar adapted from https://codepen.io/nitroduck/pen/pmQoOY -->

            <h1 style="margin-top: 9vh"><%= title%></h1>

            <div class="calendar" id="main">
                <!-- <div class="jumbotron"> -->
                    <div id="topBar">
                        
                        <button class="dayButton" style="position: absolute; left: 5%; top: 8%; font-size: 16pt;" id="left" href="#">
                            <i> &#8592; </i>
                        </button>
                   
                        <div class="text-center" style="text-align: center; font-size: 16pt; margin: 3vw">
                            <!-- <button class="dayButton"  id="left" href="#">
                                <i> &#8592; </i>
                            </button> -->
                            <span>&nbsp;</span>
                            <span id="month"> </span>
                            <span>&nbsp;</span>
                            <span id="year"> </span>
                            <span>&nbsp;</span>
                            <!-- <button class="dayButton" id="right" href="#"> -->
                                <!-- <i> &#8594; </i> -->
                                <!-- <i class="fas fa-chevron-right"></i> -->
                           <!-- </button> -->
                            </div>
                        <button class="dayButton" style="position: absolute; right: 5%; top: 8%; font-size: 16pt;" id="right" href="#">
                            <!-- <i> &#8594; </i> -->
                            <!-- <i class="fas fa-chevron-right"></i> -->
                        </button>
                    </div>
                <!-- </div> -->
                <div class="row" >
                    <div class="col-sm-10 col-sm-offset-1">
                        <table class="table" >
   
                        </table>
                    </div>
                </div>
            </div>

            <!-- <button id="myBtn">Open Modal</button> -->

            <!-- The Modal -->
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p id="modalText"></p>
                </div>
            </div>

            <div id="streaks">
                <div class="streakRecord" style="margin-right:2vw">
                    <div style="margin-top: -2vh">
                        <img src="./images/streakIcon.png" style="height: 4vh">
                    </div>
                    <div style="letter-spacing: 0; font-size:3vh"><%= currentStreak %></div>
                </div>
                <div class="streakRecord" style="margin-left:2vw">
                    <div style="margin-top: -2vh">
                        <img src="./images/recordIcon.png" style="height: 4vh">
                    </div>
                    <div style="letter-spacing: 0; font-size:3vh"><%= longestStreak %></div>
                    
                </div>
                <!-- <p>Current streak: <%= currentStreak %> days</p>
                <p>Record: <%= longestStreak %> days</p> -->
            </div>

            <!-- <br><br> -->
            <!-- <a href="/">
                <button>Log Activity</button>
            </a> -->

            <div id="navButtonContainer">
                <!-- <a href="/normalRoutine"> -->
                    <button class="navButton" style="margin-right: 5vw;" onclick='window.location="/normalRoutine"'>
                        <img id="normalRoutineButton" src="./images/Sample_User_Icon.png" height="100%">
                    </button>
                <!-- </a> -->
                    <!-- <button class="navButton" style="margin: auto; height: 13vh; width: 13vh" onclick='window.location="/normalRoutine"'><img id="mainButton" height="100%"></button> -->
                    <button class="navButton" style="margin: auto; height: 13vh; width: 13vh" onclick='window.location="/"'>
                        <img id="mainButton" src="./images/circleIcon.png" height="100%">
                    </button>
                <!-- <a href="/calendar"> -->
                    <button class="navButtonDisabled" style="margin-left: 5vw; border: #2FB9CA; border-width: thick; border-style: solid;">
                        <img id="calendarButton" src="./images/Calendar_Icon.png" height="100%">
                    </button>
                <!-- </a> -->
                
            </div>

           

           

        </div>

        <script>
            if (!(navigator.onLine) && (!(getCook('accessToken')))) {
                window.location.href = "/loginUser"
            }

            if (navigator.onLine) {
                var activities = <%- activities %>;
            } else {
                console.log('offline activities');
                var activities = JSON.parse(window.localStorage.getItem('allActivities'));
            }
            
            // console.log(activities);

            // $(document).ready(function() {
                var currentDate = new Date();
                function generateCalendar(d) {
                    function monthDays(month, year) {
                        // console.log('monthDays month: ', month);
                        var result = [];
                        var days = new Date(year, month, 0).getDate();
                        for (var i = 1; i <= days; i++) {
                            result.push(i);
                        }
                        return result;
                    }
                    Date.prototype.monthDays = function() {
                        var d = new Date(this.getFullYear(), this.getMonth() + 1, 0);
                        return d.getDate();
                    };
                    var details = {
                        // totalDays: monthDays(d.getMonth(), d.getFullYear()),
                        totalDays: d.monthDays(),
                        weekDays: ['S', 'M', 'T', 'W', 'T', 'F', 'S'],
                        months: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    };
                    var start = new Date(d.getFullYear(), d.getMonth()).getDay();
                    // console.log(d.getFullYear());
                    // console.log(d.getMonth());

                    var cal = [];
                    var day = 1;
                    for (var i = 0; i <= 6; i++) {
                        cal.push(['<tr>']);
                        for (var j = 0; j < 7; j++) {
                            if (i === 0) {
                                cal[i].push('<td id="caltd" style="font-weight: bold;">' + details.weekDays[j] + '</td>');
                                
                            } else if (day > details.totalDays) {
                            cal[i].push('<td id="caltd">&nbsp;</td>');
                            } else {
                                if (i === 1 && j < start) {
                                    cal[i].push('<td id="caltd">&nbsp;</td>');
                                } else {
                                    // console.log('day? ', day);
                                    // console.log(d.getFullYear() + '-' + (d.getMonth() +1) + "-" + day);
                                    var interDate = d.getFullYear() + '-' + (d.getMonth()+1) + "-" + day;
                                    // console.log(activities[interDate]);
                                    if (activities[interDate]) {
                                   
                                            cal[i].push('<td id="caltd" class="day dot" onclick="openModal('+"'" + interDate + "'" + ')">' + day++ + '</td>');
                                       
                                    } else {
                                        cal[i].push('<td id="caltd" class="day">' + day++ + '</td>');
                                    }
                                    
                                    
                                }
                            }
                        }
                        cal[i].push('</tr>');
                    }
                    cal = cal.reduce(function(a, b) {
                        return a.concat(b);
                    }, []).join('');
                    $('table').append(cal);
                    $('#month').text(details.months[d.getMonth()]);
                    $('#year').text(d.getFullYear());
                    $('td.day').mouseover(function() {
                        $(this).addClass('hover');
                    }).mouseout(function() {
                        $(this).removeClass('hover');
                    });
                }

                $('#left').click(function() {
                    $('table').text('');
                    // $('table').html('<tr></tr>');
                    actualDate = new Date();
                    document.getElementById('right').innerHTML = "<i> &#8594; </i>";
                        if (currentDate.getMonth() === 0) {
                            currentDate = new Date(currentDate.getFullYear() - 1, 11);
                            generateCalendar(currentDate);
                        } else {
                            currentDate = new Date(currentDate.getFullYear(), currentDate.getMonth() - 1)
                            generateCalendar(currentDate);
                        }
                });
                $('#right').click(function() {
                    $('table').html('');
                    actualDate = new Date();
                        if (currentDate.getMonth() === 11) {
                            currentDate = new Date(currentDate.getFullYear() + 1, 0); 
                            if ((currentDate.getMonth() == actualDate.getMonth()) && (currentDate.getFullYear() == actualDate.getFullYear())) {
                                document.getElementById('right').innerHTML = "";
                                document.getElementById('right').disabled = "true";
                            } 
                            generateCalendar(currentDate);
                        } else {
                            currentDate = new Date(currentDate.getFullYear(), currentDate.getMonth() + 1)
                            if ((currentDate.getMonth() == actualDate.getMonth()) && (currentDate.getFullYear() == actualDate.getFullYear())) {
                                document.getElementById('right').innerHTML = "";
                            } 
                            generateCalendar(currentDate);
                        }
                    // $('test').html('');
                });

            generateCalendar(currentDate);
            // });

            document.getElementById('main').style['background-color'] = 'rgba(222, 227, 238, 0.7)';
            document.getElementById('main').style['padding'] = '2vh';
            document.getElementById('main').style['width'] = '80%';
            // document.getElementById('calendar').style['max-width'] = '400px';
            document.getElementById('main').style['margin'] = 'auto';
            // document.getElementById('calendar').style['max-height'] = '42vh';
            // document.getElementById('calendar').style['overflow'] = 'scroll';
            document.getElementById('main').style['border-radius'] = '10px';
            document.getElementById('main').style['max-width'] = '500px';



            // Get the modal
            var modal = document.getElementById("myModal");
            var menuModal = document.getElementById("menuModal");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close");
            console.log(span);
            // var menuSpan = document.getElementsByClassName("close")[1];

            // When the user clicks on <span> (x), close the modal
            span[1].onclick = function() {
                modal.style.display = "none";
            }

            span[0].onclick = function() {
                menuModal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                } else if (event.target == menuModal) {
                    menuModal.style.display = "none";
                }
            }

            function openModal(date) {
                var displayDate = dateToString(date);
                // console.log(displayDate);
                document.getElementById('modalText').innerHTML = '<p style="text-align: center">'+displayDate+'</p>';
                // routineDescription(activities[date], 'modalText');
                console.log('activities: ', activities[date]);
                routineDescription(activities[date], 'modalText');
                modal.style.display = "block";
            }

            function openMenuModal() {
                menuModal.style.display = "block";
            }

            var gamification = <%- gamification %>;

            // var elem = document.getElementById("menuModalTextGamification");
            // elem.addEventListener("click", changeGamificationSettings(gamification));

            // console.log('gamification: ', gamification);
            function updateStreaks() {
                if (gamification) {
                // console.log('gamification active')
                // var menuText = "Disable Logging Streaks";
                document.getElementById("gamificationTrigger").innerHTML = '<p id="menuModalTextGamification" class="modalText" onclick="changeGamificationSettings(1)"></p>'
                document.getElementById("menuModalTextGamification").innerHTML = "Disable Logging Streaks";
                document.getElementById("streaks").style.display = "block";
                
                // gamification = 0;
                // document.getElementById("menuModalTextGamification").onclick = "changeGamificationSettings(1)"
                // document.getElementById("setValue").innerHTML = '<input type="hidden" id="setForm" name="set" value="0">';

                } else {
                    // console.log('gamification inactive');
                    document.getElementById("gamificationTrigger").innerHTML = '<p id="menuModalTextGamification" class="modalText" onclick="changeGamificationSettings(0)"></p>'
                    document.getElementById("menuModalTextGamification").innerHTML = "Enable Logging Streaks";
                    document.getElementById("streaks").style.display = "none";
                    // gamification = 1;
                    // document.getElementById("menuModalTextGamification").onclick = "changeGamificationSettings(0)"
                    // document.getElementById("setValue").innerHTML = '<input type="hidden" id="setForm" name="set" value="1">';

                    
                }
            }

            updateStreaks();
            

            function changeGamificationSettings(set) {
                if (!(navigator.onLine)) {
                    alert("Cannot update while offline");
                    return false;
                } else {
                    var s = 1 - set;
                console.log('set: ', s, typeof s)
                var http = new XMLHttpRequest();
                http.open("POST", "/editGamificationAPI", true);
                http.setRequestHeader("Content-type","application/x-www-form-urlencoded");

                // var params = "set=" + document.getElementById("setForm").value + "&user=" + document.getElementById("userForm").value; // probably use document.getElementById(...).value
                var params = "set="+s+"&userID="+<%- userID %>;
                http.send(params);
                http.onload = function() {
                    // alert(http.responseText);

                        // if (s) {
                            // document.getElementById("streaks").style.display = "block";
                        // } else {
                            // document.getElementById("streaks").style.display = "none";
                        // }
                        
                        menuModal.style.display = "none";
                        gamification = s;
                        // console.log(gamification);
                        updateStreaks(s);

                    }
                }
                
                
            }

            

        </script>

    </body>
</html>