<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="manifest" href="/manifest.json">
        <script type="module" src="https://cdn.jsdelivr.net/npm/@pwabuilder/pwaauth@latest/dist/pwa-auth.min.js"></script> 
        <!-- <script type="module" src="/pwabuilder-sw-register.js"></script> -->
    </head>
    <body>
        <h1><%= title %></h1>
        <h2 id='date'></h2>

        <button onclick="decrementDate()">Previous Day</button>
        <div id="nextDay">
        </div>
        <br><br>

        <div id="mainSection">

        </div>
        

        <script>

            var routineTypes = <%- routineTypes %>;
            var weekActivities = <%-weekActivities %>;

            var dayCounter = 0;

            var today = new Date();
            var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+(today.getDate());
            document.getElementById('date').innerHTML = getDisplayDate(date);

            populateMainSection()

            function populateMainSection() {
                if (weekActivities[dayCounter]) {
                    var activities = JSON.stringify(weekActivities[dayCounter]);
                    document.getElementById('mainSection').innerHTML = '<div id="routine"></div>';
                    populateRoutine();

                } else {
                    document.getElementById('mainSection').innerHTML = '<form method="POST" id="activityForm" action="/logNewActivity"></form>';
                    document.getElementById('activityForm').innerHTML += '<div id="buttons"></div>';
                    document.getElementById('activityForm').innerHTML += '<a id="chosenDate"></a>';
                    document.getElementById('activityForm').innerHTML += '<a id="user"></a>';
                    document.getElementById('chosenDate').innerHTML = "<input type='hidden' name='chosenDate' value='" + date + "'>";
                    populateButtons();
                    populateForm();
                }
            }

            function populateRoutine() {
                var stringActivities = JSON.stringify(weekActivities[dayCounter]);
                var activities = JSON.parse(stringActivities);
                var keys = Object.keys(activities);
                for (var i = 0; i < keys.length; i++) {
                    title = keys[i];
                    console.log(title);
                    document.getElementById('routine').innerHTML += '<a id="'+ title +'"></a>';
                    document.getElementById(title).innerHTML += '<dt>' + title + ':</dt>';
                    if (activities[title][0] == '[') {
                        activitiesList = JSON.parse(activities[title]);
                        for (var j = 0; j < activitiesList.length; j++) {
                            if (typeof activitiesList[j] == "object") {
                                document.getElementById(title).innerHTML += '<dd>' + activitiesList[j][0] + ' (' + activitiesList[j][1] + ') ' + '</dd>';
                            } else {
                                document.getElementById(title).innerHTML += '<dd>' + activitiesList[j] + '</dd>';
                            }
                        }
                    } else {
                        document.getElementById(title).innerHTML += '<dd>' + activities[title] + '</dd>';
                    }
                    console.log(activities[title]);
                }
            }


            function populateButtons() {
                for (var i = 0; i < routineTypes['results'].length; i++) {
                document.getElementById('buttons').innerHTML += '<button name="activityType" value ='+routineTypes['results'][i]['routineID']+' type="submit">'+routineTypes['results'][i]['routine']+'</button>';
                document.getElementById('buttons').innerHTML += '<br>';
                }
            }


            function populateForm() {
                document.getElementById('chosenDate').innerHTML = "<input type='hidden' name='chosenDate' value='" + date + "'>";
                document.getElementById('user').innerHTML = "<input type='hidden' name='user' value='" + <%- user %> + "'>";
            }
            


            function getDisplayDate(date) {
                newToday = new Date();
                if (date == newToday.getFullYear()+'-'+(newToday.getMonth()+1)+'-'+newToday.getDate()) {
                    var displayDate = 'Today';
                } else {
                    var displayDate = date;
                }
                return displayDate
            }

            function disableButton(today) {
                newToday = new Date();
                newToday.setDate(newToday.getDate()-1);
                if (today >= newToday) {
                    document.getElementById('nextDay').innerHTML = '';
                } else {
                    document.getElementById('nextDay').innerHTML = '<button onclick="incrementDate()" >Next Day</button>';
                }
            }
            
            function decrementDate() {
                today.setDate(today.getDate()-1);
                date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+(today.getDate());

                document.getElementById('date').innerHTML = getDisplayDate(date);
                // document.getElementById('chosenDate').innerHTML = "<input type='hidden' name='chosenDate' value='" + date + "'>";
                disableButton(today);   
                dayCounter++;
                console.log('dayCounter: ', dayCounter);
                console.log(weekActivities[dayCounter]);
                populateMainSection()
            }

            function incrementDate() { 
                today.setDate(today.getDate()+1);
                date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+(today.getDate());
                document.getElementById('date').innerHTML = getDisplayDate(date);
                // document.getElementById('chosenDate').innerHTML = "<input type='hidden' name='chosenDate' value='" + date + "'>";
                disableButton(today);
                dayCounter--;
                console.log('dayCounter: ', dayCounter);
                console.log(weekActivities[dayCounter]);
                populateMainSection()
            }
            


        </script>

        

        


        <br><br>
        <script>
            function deleteAllCookies() {
              var cookies = document.cookie.split(";");
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = cookies[i];
                  var eqPos = cookie.indexOf("=");
                  var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
                  document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
              }
              location.reload();
            } 

        </script>

        <br><br>
        <a href="/normalRoutine">
            <button>My Normal Routine</button>
        </a>

        <br><br>
        <button onclick="deleteAllCookies()">Log Out</button>
    </body>

</html>