<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Logging page">
        <meta name="theme-color" content="#DEE3EE"/>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="manifest" href="/manifest.json">
        <script type="module" src="https://cdn.jsdelivr.net/npm/@pwabuilder/pwaauth@latest/dist/pwa-auth.min.js"></script> 
        <script type="module" src="/pwabuilder-sw-register.js"></script>
        <script type="text/javascript" src="/javascripts/logout.js"></script> 
        <script type="text/javascript" src="/javascripts/getCook.js"></script> 
        <script type="text/javascript" src="/javascripts/dateToDisplay.js"></script> 
        <script type="text/javascript" src="/javascripts/checkLocal.js"></script> 
        <script type="text/javascript" src="/javascripts/getDateList.js"></script> 
        <link href='https://fonts.googleapis.com/css?family=Roboto&display=swap' rel='stylesheet'>
        <link rel="canonical" href="https://care4cf.azurewebsites.net"/>
        <link rel="apple-touch-icon" href="/images/icon512.png">

        

    </head>
    <body>
        <div class="container">

            <a style="position:absolute; height: 3vh; right: 2vw; top:2vh; cursor:pointer" onclick="openModal()">
                <img id="hamburgerButton" alt="options" height="100%">
            </a>

            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p id="modalText" onclick="logout()">Log Out</p>
                </div>
            </div>


            <div id="updateNormalModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close" id="updateClose">&times;</span>
                    <p id="modalText">
                        You haven't logged your normal routine in a while. 
                        <br><br> 
                        Update your normal routine?
                        <br><br>
                        <button class="navButton" margin="auto" onclick='window.location="/normalRoutine"'>
                            <img id="normalRoutineButtonPrompt" alt="my normal routine" height="100%">
                        </button>
                    </p>
                </div>
            </div>


             <!-- <div id="loggingModal" class="modal"> -->

                <!-- Modal content -->
                <!-- <div class="modal-content"> -->
                    <!-- <span class="close">&times;</span> -->
                    <!-- <p id="modalText">Thanks! <br> We're logging that data.</p> -->
                <!-- </div> -->
            <!-- </div>  -->

       
            <div id="outer">
                <div id="prevDay" class="inner">
                    <button class="dayButton" style="left: 7vw" onclick= <%= prevDay %>> &#8592;</button>
                </div>
                <span>&nbsp;</span>
                <div class="inner">
                    <h2 id='date'></h2>
                </div>
                <span>&nbsp;</span>
                <div id="nextDay" class="inner">
                </div>
            </div>
            
            <br><br>

            <div id="mainSection">

            </div>
            <br><br>
    
            <br><br>

            <div id="navButtonContainer">
                    <button class="navButton" style="margin-right: 5vw" onclick='window.location="/normalRoutine"'>
                        <img id="normalRoutineButton" alt="my normal routine" style="height:4vh">
                    </button>
                    <button id="mainNavButton" class="navButtonDisabled" style="margin: auto; height: 13vh; width: 13vh; border: #2FB9CA;border-width: thick;border-style: solid;">
                        <img id="mainButton" alt="main page" style="height:5vh">
                    </button>
                    <button class="navButton" style="margin-left: 5vw" onclick='window.location="/calendar"'>
                        <img id="calendarButton" alt="my history" style="height:4vh">
                    </button>
                
            </div>
        </div>

        

        <script>

            var url = new URL(document.URL);
            if (url.pathname.slice(0, 2) == "/w") {
                var path = "../images/"
                var offsetPage = true;
            } else {
                var path = "./images/";
                var offsetPage = false;
            }

            var routineTypes = <%- routineTypes %>;
            var dateList = <%- dateList %>;
            var routineDict = <%- routineDict %>;
            var user = <%- user %>;
            var allNormals = <%- allNormals %>;
            var allActivities = <%- allActivities %>;
            var update = <%- update %>;

            var firstUpdate = false;
            // console.log('dateList: ', dateList);

            if (!dateList) {
                var dateList = getDateList();
            }

            // console.log('dateList: ', dateList);

            checkLocal()
            // .then(function() {
                if (((navigator.onLine) && (update) && (!offsetPage)) || (firstUpdate)) {
                console.log('saving to local');
                window.localStorage.setItem('routineDict', JSON.stringify(routineDict));
                window.localStorage.setItem('allNormals', JSON.stringify(allNormals));
                window.localStorage.setItem('allActivities', JSON.stringify(allActivities));
                // window.localStorage.setItem('dateList', JSON.stringify(dateList));
                } else {
                    console.log('should retrieve from local');
                    allActivities = JSON.parse(window.localStorage.getItem('allActivities'));
                    if (!offsetPage) {
                        // console.log('retrieving from local: ', window.localStorage.getItem('routineDict'));
                        // routineDict = JSON.parse(window.localStorage.getItem('routineDict'));
                    }
                }

            // console.log('using routineDict: ', routineDict);


            document.getElementById('normalRoutineButton').src = path + "Sample_User_Icon.png";
            document.getElementById('normalRoutineButtonPrompt').src = path + "Sample_User_Icon.png";
            document.getElementById('calendarButton').src = path + "Calendar_Icon.png";
            document.getElementById('hamburgerButton').src = path + "hamburgerDots.png";
            document.getElementById('mainButton').src = path + "circleIcon.png";

            if (url.searchParams.get('np')) {
                console.log('open modal');
                document.getElementById("updateNormalModal").style.display = "block";
               
            }
         
            if (!(navigator.onLine) && (!(getCook('accessToken')))) {
                window.location.href = "/loginUser"
            }
 

            function isOnline() {
                /** 
                * Check if browser is current online, return false if not
                * @return {Boolean} false
                */
                
                if (!(navigator.onLine)) {
                    alert("Cannot update while offline");
                    return false;
                }
            }


            var dayCounter = 0;

            var currentDay = new Date();
            var currentDate = currentDay.getFullYear()+'-'+(currentDay.getMonth()+1)+'-'+(currentDay.getDate());
            const oneDay = 24 * 60 * 60 * 1000;


            var today = new Date(dateList[dayCounter].replace(/-/g, "/"));
            var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+(today.getDate());
            document.getElementById('date').innerHTML = getDisplayDate(date);

                
            populateMainSection()
            disableButton(today);

            function populateMainSection() {
            /** 
            * @summary Populate the main section of the page with the logged routine if it exists, otherwise logging buttons
            */
                            
                var dateString = dateList[dayCounter];
                if (routineDict[dateString]) {
                    document.getElementById('mainSection').innerHTML = '<div id="routine"></div>';
                    document.getElementById('mainSection').style.position = "relative";
                    document.getElementById('mainSection').style['margin-top'] = "15vh";
                    populateRoutine();

                } else {
                    var dateStringDate = new Date(dateString.replace(/-/g, "/"));
                    var diffDays = Math.round(Math.abs((dateStringDate - currentDay) / oneDay));
                    // UNCOMMENT THIS
                    if (diffDays > 3) {
                        document.getElementById('mainSection').innerHTML = '<p> You did not log anything. <br> You are unable to log information more than three days in the past.</p>';
                        document.getElementById('mainSection').style.position = "relative";
                        document.getElementById('mainSection').style['margin-top'] = "15vh";
                    } else {
                        document.getElementById('mainSection').style.position = "absolute";
                        document.getElementById('mainSection').style['margin-top'] = "";
                        document.getElementById('mainSection').innerHTML = '<form method="POST" id="activityForm" action="/logNewActivity" onsubmit="return isOnline()" ></form>';
                        document.getElementById('activityForm').innerHTML += '<div id="buttons"></div>';
                        // document.getElementById('activityForm').innerHTML += '<a id="chosenDate"></a>';
                        // document.getElementById('activityForm').innerHTML += '<a id="user"></a>';
                        document.getElementById('activityForm').innerHTML += '<div id="chosenDate"></div>';
                        document.getElementById('activityForm').innerHTML += '<div id="user"></div>';
                        document.getElementById('chosenDate').innerHTML = "<input type='hidden' name='chosenDate' value='" + dateList[dayCounter] + "'>";
                        populateButtons();
                        populateForm();
                    }                   
                }
            }


            function populateRoutine() {
            /** 
            * @summary Display a description of the user's logged routine
            */
                
                var dateString = dateList[dayCounter];
                var activities = routineDict[dateString];
                // var activities = allActivities[dateString];
                console.log('dateString: ', dateString);
                document.getElementById('routine').innerHTML += '<p>' + activities.title + '</p>';
                document.getElementById('routine').innerHTML += '<div id="routineDescription"></div>';
                document.getElementById('routineDescription').style['background-color'] = 'rgba(222, 227, 238, 0.7)';
                document.getElementById('routineDescription').style['padding'] = '2vh';
                document.getElementById('routineDescription').style['width'] = '80%';
                document.getElementById('routineDescription').style['max-width'] = '400px';
                document.getElementById('routineDescription').style['margin'] = 'auto';
                document.getElementById('routineDescription').style['max-height'] = '42vh';
                document.getElementById('routineDescription').style['overflow'] = 'scroll';
                document.getElementById('routineDescription').style['border-radius'] = '10px';

                var table = document.createElement('table');
                table.setAttribute("id", "routineTable");
                document.getElementById('routineDescription').appendChild(table);

                var keys = Object.keys(activities);
                
                for (var i = 0; i < keys.length; i++) {
                    title = keys[i];
                    if ((title !== 'title') && (activities[title])) {
                        
                        document.getElementById('routineTable').innerHTML += '<tr><td><img src="'+path+title+'Icon.png" style="max-height: 6vh;"></td><td><div id="'+ title +'"></div></td></tr>';
                        document.getElementById('routineDescription').innerHTML += '<div id="' + title + 'routineContainer"></div>'
                        document.getElementById(title + 'routineContainer').innerHTML += '<div id="'+ title +'"></div>';
                        document.getElementById(title).style['padding'] = '1vh';

                        if (activities[title][0] == '[') {
                            activitiesList = JSON.parse(activities[title]);
                            for (var j = 0; j < activitiesList.length; j++) {
                                if (typeof activitiesList[j] == "object") {
                                    document.getElementById(title).innerHTML += '<dd style="font-size: 10pt; margin-top:10px">' + activitiesList[j][0] + ' (' + activitiesList[j][1] + ') ' + '</dd>';
                                } else {
                                    document.getElementById(title).innerHTML += '<dd style="font-size: 10pt; margin-top:10px">' + activitiesList[j] + '</dd>';
                                }
                            }
                        } else {
                            document.getElementById(title).innerHTML += '<dd style="font-size: 10pt; margin-top:10px">' + activities[title] + '</dd>';
                        }
                    }
                }
            }


            function populateButtons() {

            /** 
            * @summary Display logging buttons
            */

                for (var i = 0; i < routineTypes['results'].length; i++) {
                document.getElementById('buttons').innerHTML += '<div class="buttonContainer"><button class="routineButton" name="activityType" value ='+routineTypes['results'][i]['routineID']+' type="submit">'+routineTypes['results'][i]['routine']+'</button></div>';
                console.log(routineTypes['results'][i]['routineID']);
                }

            }


            function populateForm() {

            /** 
            * @summary Populate the submission form with the user's chosen date and the userID
            */
                
                document.getElementById('chosenDate').innerHTML = "<input type='hidden' name='chosenDate' value='" + dateList[dayCounter] + "'>";
                document.getElementById('user').innerHTML = "<input type='hidden' name='user' value='" + <%- user %> + "'>";
            }


            function getDisplayDate(date) {

            /** 
            * @summary Convert a given dateString into a long-formatted date
            * @param {string} date - The chosen date to convert
            * @return {string} The long-formatted date
            */
                
                newToday = new Date();
                console.log('current date: ', newToday);
                if (date == newToday.getFullYear()+'-'+(newToday.getMonth()+1)+'-'+newToday.getDate()) {
                    var displayDate = 'Today <br> &nbsp;' ;
                } else {
                    var displayDate = dateToString(date);
                }
                if (!displayDate) {
                    return 'loading...';
                }
                return displayDate
            }


            function disableButton(today) {
            /** 
            * @summary Disable the 'next day' button if you are viewing the current date
            * @param {string} today - A datestring containing the currently displayed date
            */
                
                newToday = new Date();
                newToday.setDate(newToday.getDate()-1);
                if (today >= newToday) {
                    document.getElementById('nextDay').innerHTML = '';
                } else {
                    document.getElementById('nextDay').innerHTML = '<button class="dayButton" style="right: 7vw" onclick=<%= nextDay %> >&#8594;</button>';
                }
            }
            
            function decrementDate() {

            /** 
            * @summary Cycle to the previous day
            */
                
                dayCounter++;

                if ((dayCounter == (dateList.length-1)) && (!(navigator.onLine))) {
                    document.getElementById('prevDay').innerHTML = '';
                }

                if (dayCounter <= (dateList.length-1)) {
                    document.getElementById('date').innerHTML = getDisplayDate(dateList[dayCounter]);
                    var newDay = new Date(dateList[dayCounter].replace(/-/g, "/"));
                    disableButton(newDay);
                    populateMainSection()
                } else {
                        var newDay = new Date(dateList[dayCounter-1].replace(/-/g, "/"));
                        var diffDays = Math.round(Math.abs((newDay - currentDay) / oneDay)) + 1;
                        var weeklyOffset = Math.floor((diffDays)/7);
                        window.location = '/w/'+ weeklyOffset;                   
                }
            }


            function incrementDate() { 
            /** 
            * @summary Cycle to the next day
            */
                
                document.getElementById('prevDay').innerHTML = '<button class="dayButton" style="left: 7vw" onclick= <%= prevDay %> >&#8592;</button>';
                dayCounter--;

                if (dayCounter == -1) {
                    var newDay = new Date(dateList[dayCounter+1].replace(/-/g, "/"));
                    var diffDays = Math.round(Math.abs((newDay - currentDay) / oneDay)) + 1;
                    var url_string = window.location.href; 
                    var url = new URL(url_string);
                    var r = url.searchParams.get("r");
                    if (r) {
                        var weeklyOffset = (Math.floor((diffDays)/7));
                        window.location = '/w/'+ weeklyOffset;
                    } else {
                        var weeklyOffset = (Math.floor((diffDays)/7) - 1);
                        window.location = '/w/'+ weeklyOffset + '?r=1';
                    }
                } else {
                    document.getElementById('date').innerHTML = getDisplayDate(dateList[dayCounter]);
                    var newDay = new Date(dateList[dayCounter].replace(/-/g, "/"));
                    disableButton(newDay);
                    populateMainSection()
                }
            }

            // Get the modal
            var modal = document.getElementById("myModal");
            var updateNormalModal = document.getElementById("updateNormalModal");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close");
            console.log('span', span);

            // When the user clicks on <span> (x), close the modal
            span[0].onclick = function() {
                modal.style.display = "none";
            }

            span[1].onclick = function() {
                updateNormalModal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                } else if (event.target == updateNormalModal) {
                    updateNormalModal.style.display = "none";
                }
            }

            function openModal() {
            /** 
            * Open the logout modal
            */
                modal.style.display = "block";
            }

            function promptModal() {
            /** 
            * Open the prompt modal
            */
                updateNormalModal.style.display = "block";
            }

            // function loggingModal() {
            //     if (navigator.onLine) {
            //         document.getElementById('loggingModal').style.display = "block";
            //     }
            // }

        </script>

        <br><br>
        
    </body>

</html>