<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="My routines">
        <meta name="theme-color" content="#DEE3EE"/>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="manifest" href="/manifest.json">
        <script type="module" src="/pwabuilder-sw-register.js"></script>
        <script type="text/javascript" src="/javascripts/getCook.js"></script> 
        <script type="text/javascript" src="/javascripts/logout.js"></script> 
        <script type="text/javascript" src="/javascripts/abbreviate.js"></script> 
        <link href='https://fonts.googleapis.com/css?family=Roboto&display=swap' rel='stylesheet'>
        <link rel="apple-touch-icon" href="/images/icon512.png">
    </head>

    <style>
        .collapsible {
          background-color: rgba(154,154,154,1);
          color: white;
          cursor: pointer;
          padding: 18px;
          width: 100%;
          border: none;
          text-align: left;
          outline: none;
          font-size: 15px;
        }
        
        .active, .collapsible:hover {
          background-color: #555;
        }
        
        .content {
          padding: 0 18px;
          display: none;
          overflow: hidden;
          background-color: #f1f1f1;
          border-radius: 10px;
        }
    </style>

    <body>
        <div class="container" style="display: table;">
            <div>
                <% if (!somethingDifferent) { %>
                    <img src="./images/backArrowIcon.png" alt="back" onclick="window.location='/normalRoutine'"  style="position: absolute; height: 4vh; top: 2vh; left: 2vw; cursor: pointer">
                <% } else { %>
                    <img src="./images/backArrowIcon.png" alt="back" onclick="window.location='/'"  style="position: absolute; height: 4vh; top: 2vh; left: 2vw; cursor: pointer">
                <% } %>
                </div>

            <a style="position:absolute; height: 3vh; right: 2vw; top:2vh; cursor:pointer" onclick="openModal()">
                <img id="hamburgerButton" alt="options" src="./images/hamburgerDots.png" height="100%">
            </a>

           

            <h1 style="margin-top: 9vh" id="titleSection"><%= title %></h1>
        
            <div>
                <div id="routineSection" style="max-width: 400px; margin: auto; margin-top: 10vh; width: 90%">

                </div>
            </div>

            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p id="modalText" onclick="logout()">Log Out</p>
                </div>
            </div>

            <div id="loadingModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <p id="modalText">Please Wait...</p>
                </div>
            </div>

            <% if (!somethingDifferent) { %>
                    <button class="navButton" style="margin: auto; margin-top: 4vh; margin-bottom: 3vh;" onclick='isOnline()'>
                        <img id="myRoutinesButton" alt="my routines" src="./images/plusIcon.png" style="height:4vh">
                    </button>
                
                <% } else { %>
                    <button class="optionButton" onclick='directToForm()' style="margin: auto; margin-top: 4vh; margin-bottom: 3vh;">Something Different</button>
                <% } %>

            <% if (!somethingDifferent) { %>
                <form action="/myRoutines/newNormal" method="POST" name="newNormal">
                    <a id="newNormalUser"></a>
                    <a id="newNormalSchedule"></a>
                </form>
            <% } else { %>
                <form action="/somethingDifferent/logActivity" method="POST" name="logActivity">
                    <a id="logChosenDate"></a>
                    <a id="logUserID"></a>
                    <a id="logScheduleID"></a>
                </form>
            <% } %>

        </div>


        <script>

            if (!(navigator.onLine) && (!(getCook('accessToken')))) {
                window.location.href = "/loginUser"
            }

            function isOnline() {
            /** 
            * @summary Check to see if browser is online, return false if not
            * @return {Boolean} False
            */
                
                if (!(navigator.onLine)) {
                    alert("Cannot update while offline");
                    return false;
                } else {
                    loadingModal();
                    window.location="/newSchedule";
                }
            }


            var routines = JSON.parse(window.localStorage.getItem('allNormals'));

            <% if (somethingDifferent) { %>
                var somethingDifferent = true;
                var chosenDate = [ <%- chosenDate %> ];
                if (chosenDate.length == 0) {
                    window.location = "/";
                }
            <% } %>

            var normalSched = <%- normalSched %>;
            var user = <%- user %>;
            
            // check whether devices are out of sync, update if so 
            // if (!(routines[normalSched])) {
            //     document.getElementById('titleSection').innerHTML = "Updating...";
            //     loadingModal();
            //     document.cookie = "dataUpdate=true;";
            //     window.location = '/';
            // }


            function populateRoutineSection() {
            /** 
            * Display a description of a routine
            */
                
                var keys = Object.keys(routines);
                // console.log('keys: ', keys);
                for (var i=0; i<keys.length; i++) {
                    var schedID = keys[i];
                    var normalFlag = "";
                    if (schedID == normalSched) {
                        normalFlag = "<img src='./images/tickIcon.png' alt='confirm' style='height:4vh; position: absolute'>";
                    }

                    var techDesc = JSON.parse(routines[schedID]['techniques']);

                    var shortName = abbreviate(techDesc);

                    document.getElementById('routineSection').innerHTML += '<button type="button" id="routineTitle'+i+'"  class="collapsible" style="text-align:left; "> '+ shortName +' <span style="float:right; margin-right: 10%; margin-bottom: 10%">' + normalFlag + '</span></button>';
                    document.getElementById('routineSection').innerHTML += '<div class="content" id="routine'+i+'"></div>';
                    
                    populateRoutineInfo(schedID, i);

                }
            }

            populateRoutineSection();


            function populateRoutineInfo(scheduleID, ind) {
            /** 
            * @summary Format the routine description given its scheduleID and its position in the list of displayed routines
            * @param {number} scheduleID - The chosen routine's scheduleID
            * @param {number} ind - The routine's position in the list of displayed routines
            */
                
                var keys = Object.keys(routines[scheduleID])
                var table = document.createElement('table');
                table.setAttribute("id", "routineTable"+ind);
                document.getElementById('routine'+ind).appendChild(table);

                for (var i = 0; i < keys.length; i++) {
                    var title = keys[i];
                    var description = routines[scheduleID][title];

                    if (description) {
                        document.getElementById('routineTable'+ind).innerHTML += '<tr><td><img src="./images/'+title+'Icon.png" style="max-height: 6vh;"></td><td><div id="'+ title +ind+'"></div></td></tr>';
                            if (description[0] == '[') {
                                descList = JSON.parse(description);
                                for (var j=0; j<descList.length; j++) {
                                    if (typeof descList[j] == 'object') {
                                        document.getElementById(title+ind).innerHTML += '<dd style="font-size: 10pt; margin-top:10px">' + descList[j][0] + ' (' + descList[j][1] + ') </dd>';
                                    } else {
                                        document.getElementById(title+ind).innerHTML += '<dd style="font-size: 10pt; margin-top:10px">' + descList[j] + '</dd>';
                                    }
                                }
                            } else {
                                document.getElementById(title+ind).innerHTML += '<dd style="font-size: 10pt; margin-top:10px">' + description + '</dd>';
                            }
                        }
                }
                <% if (!somethingDifferent) { %>
                    if (parseInt(scheduleID) !== normalSched) {
                        document.getElementById('routine'+ind).innerHTML += '<br><button class="optionButton" onclick="makeNormal('+scheduleID+')" style="margin-bottom: 2vh;">Make Normal</button>';

                    }
                <% } else { %>
                    document.getElementById('routine'+ind).innerHTML += '<br><button class="optionButton" onclick="logSchedule('+scheduleID+')" style="margin-bottom: 2vh;">Log Routine</button>';
                <% } %>
                
            }



            function makeNormal(schedID) {
            /** 
            * @summary Submit form to make the chosen routine the current user's normal routine
            * @param {number} schedID - The chosen routine's scheduleID
            */
                
                if (navigator.onLine) {
                    loadingModal();
                    document.getElementById('newNormalUser').innerHTML = "<input type='hidden' name='user' value='" + user + "'>";
                    document.getElementById('newNormalSchedule').innerHTML = "<input type='hidden' name='scheduleID' value='" + schedID + "'>";
                    document.forms['newNormal'].submit();
                } else {
                    alert("Cannot update while offline");
                }
                
            }


            function logSchedule(schedID) {
                /** 
                * @summary Submit form to log the chosen activity
                * @param {number} schedID - The chosen routine's scheduleID
                */
                

                if (navigator.onLine) {
                    loadingModal();
                    document.getElementById('logChosenDate').innerHTML = "<input type='hidden' name='chosenDate' value='" + chosenDate[0] + "'>";
                    document.getElementById('logScheduleID').innerHTML = "<input type='hidden' name='scheduleID' value = '" + schedID +"'>";
                    document.getElementById('logUserID').innerHTML = "<input type='hidden' name='userID' value = '" + user +"'>";
                    document.forms['logActivity'].submit();
                } else {
                    alert("Cannot update while offline");
                }
                
            }

            

            var coll = document.getElementsByClassName("collapsible");
            var i;

            for (i = 0; i < coll.length; i++) {
                coll[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    var content = this.nextElementSibling;
                    if (content.style.display === "block") {
                    content.style.display = "none";
                    } else {
                    content.style.display = "block";
                    }
                });
            }


            var modal = document.getElementById("myModal");
            var span = document.getElementsByClassName("close");

            span[0].onclick = function() {
                modal.style.display = "none";
            }

            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }

            function openModal() {
                modal.style.display = "block";
            }

            function directToForm() {
                if (!(navigator.onLine)) {
                    alert("Cannot update while offline");
                    return false;
                } else {
                    loadingModal();
                    window.location="/somethingDifferent/logNew";
                }
            }

            function loadingModal() {
            /** 
            * Open the prompt modal
            */
                setTimeout(function() {
                    if (navigator.onLine) {
                            document.getElementById('loadingModal').style.display = "block";
                        } 
                }, 1500)
                  
                
            }

        </script>

    </body>
</html>