<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="manifest" href="/manifest.json">
        <script type="module" src="/pwabuilder-sw-register.js"></script>
        <script type="text/javascript" src="/javascripts/getCook.js"></script> 
    </head>

    <style>
        .collapsible {
          background-color: #777;
          color: white;
          cursor: pointer;
          padding: 18px;
          width: 100%;
          border: none;
          text-align: left;
          outline: none;
          font-size: 15px;
        }
        
        .active, .collapsible:hover {
          background-color: #555;
        }
        
        .content {
          padding: 0 18px;
          display: none;
          overflow: hidden;
          background-color: #f1f1f1;
        }
    </style>

    <body>
        <h1><%= title %></h1>
      

        <div id="routineSection">

        </div>

        <br><br>
        <% if (!somethingDifferent) { %>
            <a href="/newSchedule">
                <button>Save a new schedule</button>
            </a> 
            <% } else { %>
        <a href="/somethingDifferent/logNew">
            <button>Something else</button>
        </a>
        <% } %>

        <% if (!somethingDifferent) { %>
            <form action="/myRoutines/newNormal" method="POST" name="newNormal">
                <a id="newNormalUser"></a>
                <a id="newNormalSchedule"></a>
            </form>
        <% } else { %>
            <form action="/somethingDifferent/logActivity" method="POST" name="logActivity">
                <a id="logChosenDate"></a>
                <a id="logUserID"></a>
                <a id="logScheduleID"></a>
            </form>
        <% } %>

        <br><br>
        <a href="/normalRoutine">
            <button>Back to Normal Routine</button>
        </a>

        <br><br>
        <a href="/">
            <button>Log Activity</button>
        </a>



        <script>

            if (!(navigator.onLine) && (!(getCook('accessToken')))) {
                window.location.href = "/loginUser"
            }

            function getCook(cookiename) {
                // Get name followed by anything except a semicolon
                var cookiestring=RegExp(cookiename+"=[^;]+").exec(document.cookie);
                // Return everything after the equal sign, or an empty string if the cookie name not found
                return decodeURIComponent(!!cookiestring ? cookiestring.toString().replace(/^[^=]+./,"") : "");
            }

            // if (getCook('offline')) {
            //     alert("Cannot update while offline");
            //     document.cookie = "offline=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            // }

            console.log(document.cookie);
            var routinesString = <%- routines %>;
            var routines = JSON.parse(JSON.stringify(routinesString));

            <% if (somethingDifferent) { %>
                // console.log('myRoutine page');
                var somethingDifferent = true;
                var chosenDate = [ <%- chosenDate %> ];
                // console.log(chosenDate.length);
                if (chosenDate.length == 0) {
                    window.location = "/";
                }
            <% } %>

            var normalSched = <%- normalSched %>;
            // console.log(normalSched);

            var user = <%- user %>;
            console.log('user: ', user);


            function populateRoutineSection() {
                var keys = Object.keys(routines);
                for (i=0; i<keys.length; i++) {
                    var schedID = keys[i];
                    var normalFlag = "";
                    if (schedID == normalSched) {
                        normalFlag = " (Normal Schedule)";
                    }

                    document.getElementById('routineSection').innerHTML += '<button type="button"  class="collapsible" style="text-align:left;">Routine ' + (i+1) + '<span style="float:right;">' + normalFlag + '</span></button>';
                    document.getElementById('routineSection').innerHTML += '<div class="content" id="routine'+i+'"></div>';
                    populateRoutineInfo(schedID, i);

                }
            }

            populateRoutineSection();


            function populateRoutineInfo(scheduleID, ind) {
                var keys = Object.keys(routines[scheduleID])
                for (var i = 0; i < keys.length; i++) {
                    title = keys[i];
                    description = routines[scheduleID][title];
                    if (description) {
                        document.getElementById('routine'+ind).innerHTML += '<a id="'+ title + ind +'"></a>';
                        document.getElementById(title+ind).innerHTML += '<dt>' + title + ':</dt>';
                            if (description[0] == '[') {
                                descList = JSON.parse(description);
                                for (var j=0; j<descList.length; j++) {
                                    if (typeof descList[j] == 'object') {
                                        document.getElementById(title+ind).innerHTML += '<dd>' + descList[j][0] + ' (' + descList[j][1] + ') </dd>';
                                    } else {
                                        document.getElementById(title+ind).innerHTML += '<dd>' + descList[j] + '</dd>';
                                    }
                                }
                            } else {
                                document.getElementById(title+ind).innerHTML += '<dd>' + description + '</dd>';
                            }
                        }
                }
                <% if (!somethingDifferent) { %>
                    if (parseInt(scheduleID) !== normalSched) {
                        document.getElementById('routine'+ind).innerHTML += '<br><button onclick="makeNormal('+scheduleID+')">Make Normal</button>';

                    }
                <% } else { %>
                    document.getElementById('routine'+ind).innerHTML += '<br><button onclick="logSchedule('+scheduleID+')">Log Routine</button>';
                <% } %>
                
            }

            function makeNormal(schedID) {
                if (navigator.onLine) {
                    document.getElementById('newNormalUser').innerHTML = "<input type='hidden' name='user' value='" + user + "'>";
                    document.getElementById('newNormalSchedule').innerHTML = "<input type='hidden' name='scheduleID' value='" + schedID + "'>";
                    document.forms['newNormal'].submit();
                } else {
                    alert("Cannot update while offline");
                }
                
            }

            function logSchedule(schedID) {
                if (navigator.onLine) {
                    document.getElementById('logChosenDate').innerHTML = "<input type='hidden' name='chosenDate' value='" + chosenDate[0] + "'>";
                    document.getElementById('logScheduleID').innerHTML = "<input type='hidden' name='scheduleID' value = '" + schedID +"'>";
                    document.getElementById('logUserID').innerHTML = "<input type='hidden' name='userID' value = '" + user +"'>";
                    document.forms['logActivity'].submit();
                } else {
                    alert("Cannot update while offline");
                }
                
            }

            

            var coll = document.getElementsByClassName("collapsible");
            var i;

            for (i = 0; i < coll.length; i++) {
                coll[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    var content = this.nextElementSibling;
                    if (content.style.display === "block") {
                    content.style.display = "none";
                    } else {
                    content.style.display = "block";
                    }
                });
            }


        </script>

    </body>
</html>