<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="manifest" href="/manifest.json">
        <script type="module" src="/pwabuilder-sw-register.js"></script>
        <script type="text/javascript" src="/javascripts/getCook.js"></script> 
        <script type="text/javascript" src="/javascripts/logout.js"></script> 
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    </head>

    <style>
        .collapsible {
          background-color: rgba(154,154,154,1);
          color: white;
          cursor: pointer;
          padding: 18px;
          width: 100%;
          border: none;
          text-align: left;
          outline: none;
          font-size: 15px;
          /* border-radius: 10px; */
          /* background-color:linear-gradient(90deg, rgba(128,128,128,1) 0%, rgba(154,154,154,1) 47%, rgba(216,216,216,1) 100%) */
        }
        
        .active, .collapsible:hover {
          background-color: #555;
          /* border-radius: 10px; */
        }
        
        .content {
          padding: 0 18px;
          display: none;
          overflow: hidden;
          background-color: #f1f1f1;
          border-radius: 10px;
        }
    </style>

    <body>
        <div class="container" style="display: table;">
            <div>
                <% if (!somethingDifferent) { %>
                    <img src="./images/backArrowIcon.png" onclick="window.location='/normalRoutine'"  style="position: absolute; height: 4vh; top: 2vh; left: 2vw; cursor: pointer">
                <% } else { %>
                    <img src="./images/backArrowIcon.png" onclick="window.location='/'"  style="position: absolute; height: 4vh; top: 2vh; left: 2vw; cursor: pointer">
                <% } %>
                </div>

            <a style="position:absolute; height: 3vh; right: 2vw; top:2vh; cursor:pointer" onclick="openModal()">
                <img id="hamburgerButton" src="./images/hamburgerDots.png" height="100%">
            </a>

            <h1 style="margin-top: 9vh"><%= title %></h1>
        
            <div>
                <div id="routineSection" style="max-width: 400px; margin: auto; margin-top: 10vh; width: 90%">

                </div>
            </div>

            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p id="modalText" onclick="logout()">Log Out</p>
                </div>
            </div>
            <!-- <br><br> -->

            <% if (!somethingDifferent) { %>
                <!-- <a href="/newSchedule"> -->
                    <!-- <button onclick="isOnline()">Save a new schedule</button> -->
                    <button class="navButton" style="margin: auto; margin-top: 4vh; margin-bottom: 3vh;" onclick='window.location="/newSchedule"'>
                        <img id="myRoutinesButton" src="./images/plusIcon.png" height="100%">
                    </button>
                
                <% } else { %>
            <!-- <a href="/somethingDifferent/logNew">
                <button>Something else</button>
            </a> -->
                    <button class="optionButton" onclick='window.location="/newSchedule"' style="margin: auto; margin-top: 4vh; margin-bottom: 3vh;">Something Different</button>
                <% } %>

            <% if (!somethingDifferent) { %>
                <form action="/myRoutines/newNormal" method="POST" name="newNormal">
                    <a id="newNormalUser"></a>
                    <a id="newNormalSchedule"></a>
                </form>
            <% } else { %>
                <form action="/somethingDifferent/logActivity" method="POST" name="logActivity">
                    <a id="logChosenDate"></a>
                    <a id="logUserID"></a>
                    <a id="logScheduleID"></a>
                </form>
            <% } %>

            <!-- <br><br> -->
            <!-- <a href="/normalRoutine">
                <button >Back to Normal Routine</button>
            </a> -->

            <!-- <br><br> -->
            <!-- <a href="/">
                <button>Log Activity</button>
            </a> -->
            <!-- > -->
        </div>


        <script>

            console.log('normalSched: ', <%-normalSched %>)

            if (!(navigator.onLine) && (!(getCook('accessToken')))) {
                window.location.href = "/loginUser"
            }

            function isOnline() {
            if (!(navigator.onLine)) {
                alert("Cannot update while offline");
                return false;
            } else {
                window.location="/newSchedule";
            }
            }

            // function getCook(cookiename) {
            //     // Get name followed by anything except a semicolon
            //     var cookiestring=RegExp(cookiename+"=[^;]+").exec(document.cookie);
            //     // Return everything after the equal sign, or an empty string if the cookie name not found
            //     return decodeURIComponent(!!cookiestring ? cookiestring.toString().replace(/^[^=]+./,"") : "");
            // }

            // if (getCook('offline')) {
            //     alert("Cannot update while offline");
            //     document.cookie = "offline=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            // }

            // console.log(document.cookie);
            var routinesString = <%- routines %>;
            var routines = JSON.parse(JSON.stringify(routinesString));
            console.log('routines: ', routines);

            <% if (somethingDifferent) { %>
                // console.log('myRoutine page');
                var somethingDifferent = true;
                var chosenDate = [ <%- chosenDate %> ];
                // console.log(chosenDate.length);
                if (chosenDate.length == 0) {
                    window.location = "/";
                }
            <% } %>

            var normalSched = <%- normalSched %>;
            // console.log(normalSched);

            var user = <%- user %>;
            console.log('user: ', user);


            function populateRoutineSection() {
                var keys = Object.keys(routines);
                for (i=0; i<keys.length; i++) {
                    var schedID = keys[i];
                    var normalFlag = "";
                    if (schedID == normalSched) {
                        normalFlag = "<img src='./images/tickIcon.png' style='height:4vh; position: absolute'>";
                    }

                    document.getElementById('routineSection').innerHTML += '<button type="button"  class="collapsible" style="text-align:left; ">Routine ' + (i+1) + '<span style="float:right; margin-right: 10%">' + normalFlag + '</span></button>';
                    document.getElementById('routineSection').innerHTML += '<div class="content" id="routine'+i+'"></div>';
                    populateRoutineInfo(schedID, i);

                }
            }

            populateRoutineSection();


            function populateRoutineInfo(scheduleID, ind) {
                // console.log('routines:', routines)
                var keys = Object.keys(routines[scheduleID])
                // console.log('keys: ', JSON.stringify(keys))
                var table = document.createElement('table');
                table.setAttribute("id", "routineTable"+ind);
                document.getElementById('routine'+ind).appendChild(table);

                for (var i = 0; i < keys.length; i++) {
                    title = keys[i];
                    description = routines[scheduleID][title];
                    if (description) {
                        document.getElementById('routineTable'+ind).innerHTML += '<tr><td><img src="./images/'+title+'Icon.png" style="max-height: 6vh;"></td><td><div id="'+ title +ind+'"></div></td></tr>';
                        // document.getElementById(title+ind).innerHTML += 
                        // document.getElementById('routine'+ind).innerHTML += '<a id="'+ title + ind +'"></a>';
                        // document.getElementById(title+ind).innerHTML += '<dt>' + title + ':</dt>';
                            if (description[0] == '[') {
                                descList = JSON.parse(description);
                                for (var j=0; j<descList.length; j++) {
                                    if (typeof descList[j] == 'object') {
                                        document.getElementById(title+ind).innerHTML += '<dd style="font-size: 10pt; margin-top:10px">' + descList[j][0] + ' (' + descList[j][1] + ') </dd>';
                                    } else {
                                        document.getElementById(title+ind).innerHTML += '<dd style="font-size: 10pt; margin-top:10px">' + descList[j] + '</dd>';
                                    }
                                }
                            } else {
                                document.getElementById(title+ind).innerHTML += '<dd style="font-size: 10pt; margin-top:10px">' + description + '</dd>';
                            }
                        }
                }
                <% if (!somethingDifferent) { %>
                    if (parseInt(scheduleID) !== normalSched) {
                        document.getElementById('routine'+ind).innerHTML += '<br><button class="optionButton" onclick="makeNormal('+scheduleID+')" style="margin-bottom: 2vh;">Make Normal</button>';

                    }
                <% } else { %>
                    document.getElementById('routine'+ind).innerHTML += '<br><button class="optionButton" onclick="logSchedule('+scheduleID+')" style="margin-bottom: 2vh;">Log Routine</button>';
                <% } %>
                
            }

            function makeNormal(schedID) {
                if (navigator.onLine) {
                    document.getElementById('newNormalUser').innerHTML = "<input type='hidden' name='user' value='" + user + "'>";
                    document.getElementById('newNormalSchedule').innerHTML = "<input type='hidden' name='scheduleID' value='" + schedID + "'>";
                    document.forms['newNormal'].submit();
                } else {
                    alert("Cannot update while offline");
                }
                
            }

            function logSchedule(schedID) {
                if (navigator.onLine) {
                    document.getElementById('logChosenDate').innerHTML = "<input type='hidden' name='chosenDate' value='" + chosenDate[0] + "'>";
                    document.getElementById('logScheduleID').innerHTML = "<input type='hidden' name='scheduleID' value = '" + schedID +"'>";
                    document.getElementById('logUserID').innerHTML = "<input type='hidden' name='userID' value = '" + user +"'>";
                    document.forms['logActivity'].submit();
                } else {
                    alert("Cannot update while offline");
                }
                
            }

            

            var coll = document.getElementsByClassName("collapsible");
            var i;

            for (i = 0; i < coll.length; i++) {
                coll[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    var content = this.nextElementSibling;
                    if (content.style.display === "block") {
                    content.style.display = "none";
                    } else {
                    content.style.display = "block";
                    }
                });
            }


            var modal = document.getElementById("myModal");
            var span = document.getElementsByClassName("close");

            span[0].onclick = function() {
                modal.style.display = "none";
            }

            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }

            function openModal() {
                // document.getElementById('modalText').innerHTML = '<p style="text-align: center">'+date+'</p>';
                // routineDescription(activities[date], 'modalText');
                modal.style.display = "block";
            }



        </script>

    </body>
</html>