<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="manifest" href="/manifest.json">
        <!-- <script type="module" src="/pwabuilder-sw-register.js"></script> -->
    </head>
    <body>
        <h1><%= title %></h1>
        <p>What's your normal airway clearance routine?</p>
        

        <div id="mainAction">
            <form action="/action_page_tbd" id="activityForm">
                <div id='techniques'>
                    <div id="formBox0">
                        <select id="dropdown0" onchange="subtitleExists(0)">
                            <option value="" selected disabled hidden>Airway Clearance Technique</option>
                        </select>
                        <br>
                    </div>
                    <div id="secondFormBox0">
                    </div>
                </div>  
                <input type="submit" value="Submit">
            </form>
        </div>  


        <script>
            function populateBox(n) {
                var options = <%- techniques %>;
                var techList = [];
                var typeList = [] ;
                for (var i = 0; i < options['results'].length; i++) {
                    // console.log(options['results'][i]);
                    if (!typeList.includes(options['results'][i].techniqueType)) {
                        typeList.push(options['results'][i].techniqueType);
                        var og = document.createElement('optgroup');
                        og.label = options['results'][i].techniqueType;
                        // og.innerHTML = 'label=' + options['results'][i].techniqueType;
                        // dropdownLabel = '<optgroup label=' + options['results'][i].techniqueType + '>'
                        document.getElementById("dropdown"+n).appendChild(og);
                    }
                    if (!techList.includes(options['results'][i].title)) {
                        techList.push(options['results'][i].title);
                        var o = document.createElement('option');
                        o.value = options['results'][i].techniqueID;
                        o.innerHTML = options['results'][i].title;
                        // dropdownOptions = '<option value=' + options['results'][i].techniqueID + '>' + options['results'][i].title + '</option>';
                        document.getElementById("dropdown"+n).appendChild(o);
                    }
                }
            }

            populateBox(0);
            
            function subtitleExists(n) {
                var value = document.getElementById("dropdown"+n).value;
                console.log('chosen value: ', value);
                var options = <%- techniques %>;
                // for each row in results
                for (var i = 0; i < options['results'].length; i++) {
                   
                    // if the ID matches the ID of selected value
                    if (options['results'][i].techniqueID == value) {
                        var subtitle = options['results'][i].subtitle;
                     
                        // Check to see if there's a subtitle. If there is, we need another box
                        if (!(subtitle == null)) {
                            var title = options['results'][i].title;
                            return addBox(title, n);
                        }
                        else {
                            document.getElementById("secondFormBox"+n).innerHTML = "";
                        }
                    } 
                }
            }

            function addBox(title, n) {
                var options = <%- techniques %>;
                document.getElementById("secondFormBox"+n).innerHTML = '<select id="secondDropdown'+n+'"></select>';
                // var secondDropdownHTML = '<option value="" selected disabled hidden>Type of '+title+'</option>';
                var ot = document.createElement('option');
                ot.value = ""
                ot.selected = true;
                ot.disabled = true;
                ot.hidden = true;
                ot.innerHTML = 'Type of ' + title;
                document.getElementById("secondDropdown"+n).appendChild(ot);
                for (var i = 0; i < options['results'].length; i++) {
                    var subtitle = options['results'][i].subtitle;
                    var subValue = options['results'][i].techniqueID;
                    if (options['results'][i].title == title) {
                        var o = document.createElement('option');
                        o.value = subValue;
                        o.innerHTML = subtitle;
                        // var secondDropdownHTMLOptions = '<option value=' + subValue + '>' + subtitle + '</option>';
                        document.getElementById("secondDropdown"+n).appendChild(o);
                    }
                }
            }

            function addNewTechnique(n) {
                var fb = document.createElement('div');
                fb.id = 'formBox'+n;
                var sfb = document.createElement('div');
                sfb.id = 'secondFormBox'+n;
                document.getElementById('techniques').appendChild(fb);
                document.getElementById('techniques').appendChild(sfb);

                var s = document.createElement('select');
                s.id = 'dropdown'+n;
                // s.onchange = "subtitleExists("+n+")";
                s.setAttribute("onchange", "subtitleExists("+n+")");
                console.log(s);
                document.getElementById('formBox'+n).appendChild(s);

                var o = document.createElement('option');
                o.value = "";
                o.selected = true;
                o.disabled = true;
                o.hidden = true;
                o.innerHTML = 'Airway Clearance Technique';
                document.getElementById('dropdown'+n).appendChild(o);
                // document.getElementById("techniques").appendChild('<div id="formBox'+n+'"></div>');
                // document.getElementById("techniques").appendChild('<div id="secondFormBox'+n+'"></div>');
                // document.getElementById("formBox"+n).appendChild('<select id="dropdown'+n+'" onchange="subtitleExists('+n+')"><option value="" selected disabled hidden>Airway Clearance Technique</option></select>');
                populateBox(n);
            }

            var counter = 0;
            function incrementCounter() {
                counter++;
                // console.log(counter);
                addNewTechnique(counter);
            }
        </script>

        <br>
        <button onclick="incrementCounter()">Increment counter</button>



        <script>
            function deleteAllCookies() {
              var cookies = document.cookie.split(";");
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = cookies[i];
                  var eqPos = cookie.indexOf("=");
                  var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
                  document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
              }
              location.reload();
            } 
          </script>
          <br><br>
      
          <button onclick="deleteAllCookies()">Log Out</button>

    </body>
</html>