<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="manifest" href="/manifest.json">
        <!-- <script type="module" src="/pwabuilder-sw-register.js"></script> -->
    </head>
    <body>
        <h1><%= title %></h1>
        
        <!-- <form action="/action_page.php"> -->
            <!-- <label for="activities">Choose a car:</label> -->
            <!-- <select name="techniques" id="techniques">
                <option value="" selected disabled hidden>Airway Clearance Technique</option>
            <optgroup label="Device-Free">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
            </optgroup>
            <optgroup label="Device Dependent">
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </optgroup>
            </select>
            <br><br>
            <input type="submit" value="Submit">
        </form> -->

        <!-- <p><%= techniques %></p> -->
        <div id="mainAction">
            <form action="/action_page_tbd" id="activityForm">
                <div id="formBox">
                <select id="dropdown" onchange="subtitleExists()">
                </select>
                <br>
                </div>
                <div id="secondFormBox">
                </div>
                <input type="submit" value="Submit">
            </form>
        </div>  

        <!-- <div id="secondAction">
            <form id="secondForm" action="another_action_page_tbd">

            </form>
        </div> -->


        <script>
            var options = <%- techniques %>;
            var techList = [];
            var typeList = [] ;
            for (var i = 0; i < options['results'].length; i++) {
                // console.log(options['results'][i]);
                if (!typeList.includes(options['results'][i].techniqueType)) {
                    typeList.push(options['results'][i].techniqueType);
                    document.getElementById("dropdown").innerHTML += '<optgroup label=' + options['results'][i].techniqueType + '>';
                }
                if (!techList.includes(options['results'][i].title)) {
                    techList.push(options['results'][i].title);
                    document.getElementById("dropdown").innerHTML += '<option value=' + options['results'][i].techniqueID + '>' + options['results'][i].title + '</option>';
                }
            }
        </script>

        <script>
            function subtitleExists() {
                var value = document.getElementById("dropdown").value;
                var options = <%- techniques %>;
                // for each row in results
                for (var i = 0; i < options['results'].length; i++) {
                    // console.log('from dict: ', options['results'][i].title);
                    // console.log('value: ', value);
                    // console.log(options['results'][i]);

                    // if the ID matches the ID of selected value
                    if (options['results'][i].techniqueID == value) {
                        var subtitle = options['results'][i].subtitle;
                        // console.log('title: ',  options['results'][i].title);
                        // console.log('subtitle: ', options['results'][i].subtitle);
                        // console.log('nullCheck: ', (options['results'][i].subtitle == null));

                        // Check to see if there's a subtitle. If there is, we need another box
                        if (!(subtitle == null)) {
                            var title = options['results'][i].title;
                            return addBox(title);
                            // var subValue = options['results'][i].techniqueID;
                            // subtitleList = [];
                            // var title = options['results'][i].title;
                            // for (var i = 0; i < options['results'].length; i++) {
                            //     if (options['results'][i].title == title) {
                            //         console.log('subtitle: ', options['results'][i].subtitle)
                            //         subtitleList.push(options['results'][i].subtitle);
                            //     }
                            // }
                            // document.getElementById("secondForm").innerHTML = '<select id="secondDropdown"></select>';
                            // console.log(subtitleList);
                            // for (var i=0; i<subtitleList.length; i++) {
                            //     document.getElementById("secondDropdown").innerHTML += '<option value=' + subValue + '>' + subtitleList[i] + '</option>';
                            // }
                        }
                        else {
                            document.getElementById("secondFormBox").innerHTML = "";
                        }
                    } 
                }
            }

            function addBox(title) {
                // if (subtitleExists()) {
                    // document.getElementById("secondForm").innerHTML = '<select id="secondDropdown"></select>';
                    document.getElementById("secondFormBox").innerHTML = '<select id="secondDropdown"></select>';
                    for (var i = 0; i < options['results'].length; i++) {
                        var subtitle = options['results'][i].subtitle;
                        var subValue = options['results'][i].techniqueID;
                        // console.log('subtitle: ', subtitle);
                        // console.log('subVaalue: ', subValue);
                        if (options['results'][i].title == title) {
                            // console.log('title: ', title);
                            document.getElementById("secondDropdown").innerHTML += '<option value=' + subValue + '>' + subtitle + '</option>';
                        }
                    }
                // }
            }
        </script>



        <script>
            function deleteAllCookies() {
              var cookies = document.cookie.split(";");
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = cookies[i];
                  var eqPos = cookie.indexOf("=");
                  var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
                  document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
              }
              location.reload();
            } 
          </script>
          <br><br>
      
          <button onclick="deleteAllCookies()">Log Out</button>

    </body>
</html>