<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Save a new schedule">
        <meta name="theme-color" content="#DEE3EE"/>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="manifest" href="/manifest.json">
        <script type="module" src="/pwabuilder-sw-register.js"></script>
        <script type="text/javascript" src="/javascripts/getCook.js"></script> 
        <script type="text/javascript" src="/javascripts/logout.js"></script> 
        <link href='https://fonts.googleapis.com/css?family=Roboto&display=swap' rel='stylesheet'>
        <link rel="apple-touch-icon" href="/images/icon512.png">
    </head>
    <body>
        <div class="container" style="display: table;">

            <img id="backArrowButton" alt="back" onclick="window.history.back()"  style="position: absolute; height: 4vh; top: 2vh; left: 2vw; cursor: pointer">

            <h1 style="margin-top: 9vh"><%= title %></h1>

            <a style="position:absolute; height: 3vh; right: 2vw; top:2vh; cursor:pointer" onclick="openModal()">
                <img id="hamburgerButton" alt="options"  height="100%">
            </a>

            <a style="position:absolute; height: 3vh; right: 10vw; top:2vh; cursor:pointer" onclick="openHelpModal()">
                <button class="optionButton" style="font-size: 10pt">?</button>
            </a>

            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p id="modalText" onclick="logout()">Log Out</p>
                </div>
            </div>

            <div id="helpModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p id="modalText" style="letter-spacing: 0; cursor:default" onclick="">Are we missing a part of your routine? <br> Let us know: <br> e.main@ucl.ac.uk</p>
                </div>
            </div>

            <div id="loadingModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <!-- <span class="close">&times;</span> -->
                    <p id="modalText">Please Wait...</p>
                </div>
            </div>
            

            <div id="mainAction" style="max-width: 400px; margin: auto" >
                
                <form action="/scheduleData" method="POST" id="activityForm" onsubmit="return isOnline()">

                    <div id='techniques'>
                        <div id="formBox0">
                            <select id="dropdown0" name="act0" onchange="subtitleExists(0)" required>
                                <option value="" selected disabled hidden>Airway Clearance Technique</option>
                            </select>
                            <br>
                        </div>
                        <div id="secondFormBox0">
                        </div>
                    
                    </div>

                    <div style="width: 100%">
                        <div id="addButtonDiv" style="display: inline-block; padding-top: 2vh">
                            <button class="optionButton" type="button" onclick="incrementCounter()" style="margin: auto;">+</button>
                        </div>
                        

                        <div id=removeButtonDiv style="display: none; padding-left: 2vw; padding-top: 2vh">
                        </div>
                    </div>

                    

                    <br><br>

                    <div id="duration">
                        <select id='durationDropdown' name="duration" required>
                            <option value="" selected disabled hidden>Duration per Session</option>
                        </select>
                    </div>

                    <br><br>

                    <div id="frequency">
                        <select id='frequencyDropdown' name="frequency" required>
                            <option value="" selected disabled hidden>Frequency per Day</option>
                        </select>
                    </div>

                    <br><br>

                    <div id="adjuncts">
                        <div id="adjunctDiv0">
                            <select id="adjunctDropdown0" name="adjuncts0" onchange="populateAdjunctTimeBox(0)">
                                <option value="" selected disabled hidden>Adjunct Medication</option>
                            </select>
                        </div>
                        <div id="adjunctTimeDiv0">

                        </div>
                        
                    </div>
                    <div style="width: 100%">
                        <div id="addAdjunctButtonDiv" style="display: inline-block; padding-top: 2vh">
                            <button class="optionButton" type="button" onclick="incrementAdjunctCounter()">+</button>
                        </div>
                        
                        <div id=removeAdjunctButtonDiv style="display: none; padding-left: 2vw; padding-top: 2vh">
                        </div>
                    </div>
                    

                    <a id="date"></a>
                    <a id="saveAsNormal"></a>
                    <a id="user"></a>
                    <a id="activityType"></a>
                    <a id="chosenDate"></a>
                    <a id="maxCounter">
                        <input type='hidden' name='maxCounter' value=0>
                    </a>
                    
                    <br><br>

                    <button class="navButton" style="margin-bottom: 3vh;" type="submit" value="Submit" onclick="loadingModal()">
                        <img id="tickButton" alt="confirm" style="height:4vh">
                    </button>
                </form>
            </div>  
        </div>


        <script>

            if (!(navigator.onLine) && (!(getCook('accessToken')))) {
                window.location.href = "/loginUser"
            }

            var url = new URL(document.URL);
            if (url.pathname.indexOf('logNew') !== -1) {
                var path = "../images/";
            } else {
                var path = "./images/";
            }

            document.getElementById("backArrowButton").src = path + 'backArrowIcon.png';
            document.getElementById("hamburgerButton").src = path + 'hamburgerDots.png';
            document.getElementById("tickButton").src = path + 'tickIcon.png';


            var saveAsNormal = <%- saveAsNormal %>;

            console.log('saveAsNormal: ', saveAsNormal);

            // Add these to forms
            var activityType = <%- activityType %>;
            var chosenDate = <%- chosenDate %>;
            console.log('activityType and Date: ', activityType, chosenDate);

            var savedSched = <%- sched %>;
            
            if (activityType) {
                console.log('activityType: ', activityType);
                document.getElementById("activityType").innerHTML += "<input type='hidden' name='activityType' value='" + activityType + "'>";
            }
            if (chosenDate) {
                console.log('chosenDate:', chosenDate);
                document.getElementById("chosenDate").innerHTML += "<input type='hidden' name='chosenDate' value='" +chosenDate + "'>";
            }
            
            

            document.getElementById("saveAsNormal").innerHTML += "<input type='hidden' name='saveAsNormal' value='" + saveAsNormal + "'>";
            document.getElementById("user").innerHTML += "<input type='hidden' name='user' value='" + <%- user %> + "'>";


            function populateTechniquesBox(n) {
                /** 
                * Populate the 'techniques' section with a dropdown list
                * @param {number} n - The position of the dropdown in the list of dropdowns
                */
                
                var options = <%- techniques %>;
                var techList = [];
                var typeList = [];
                for (var i = 0; i < options['results'].length; i++) {
                    if (!typeList.includes(options['results'][i].techniqueType)) {
                        typeList.push(options['results'][i].techniqueType);
                        var og = document.createElement('optgroup');
                        og.label = options['results'][i].techniqueType;
                        document.getElementById("dropdown"+n).appendChild(og);
                    }
                    if (!techList.includes(options['results'][i].title)) {
                        techList.push(options['results'][i].title);
                        var o = document.createElement('option');
                        o.value = options['results'][i].techniqueID;
                        o.innerHTML = options['results'][i].title;
                        document.getElementById("dropdown"+n).appendChild(o);
                    }
                }
            }

            populateTechniquesBox(0);
            
            function subtitleExists(n) {
            /** 
            * @summary Display an extra box if the chosen technique has sub-options
            * @param {number} n - The position of the dropdown in the list of dropdowns
            * @return {function} addBox() - adds another dropdown box for the sub-options
            */
                
                var value = document.getElementById("dropdown"+n).value;
                var options = <%- techniques %>;
                // for each row in results
                for (var i = 0; i < options['results'].length; i++) {
                   
                    // if the ID matches the ID of selected value
                    if (options['results'][i].techniqueID == value) {
                        var subtitle = options['results'][i].subtitle;
                     
                        // Check to see if there's a subtitle. If there is, we need another box
                        if (!(subtitle == null)) {
                            var title = options['results'][i].title;
                            return addBox(title, n);
                        }
                        else {
                            document.getElementById("secondFormBox"+n).innerHTML = "";
                        }
                    } 
                }
            }


            function addBox(title, n) {
            /** 
            * @summary Add another dropdown box to list the sub-options
            * @param {string} title - The group of options being chosen. Will display as 'Type of [title]'
            * @param {number} n - The position of the dropdown in the list of dropdowns
            * @return {ReturnValueDataTypeHere} Brief description of the returning value here.
            */
                
                var options = <%- techniques %>;
                document.getElementById("secondFormBox"+n).innerHTML = '<select id="secondDropdown'+n+'" name=subact'+n+' required></select>';
                var ot = document.createElement('option');
                ot.value = ""
                ot.selected = true;
                ot.disabled = true;
                ot.hidden = true;
                ot.innerHTML = 'Type of ' + title;
                document.getElementById("secondDropdown"+n).appendChild(ot);
                for (var i = 0; i < options['results'].length; i++) {
                    var subtitle = options['results'][i].subtitle;
                    var subValue = options['results'][i].techniqueID;
                    if (options['results'][i].title == title) {
                        var o = document.createElement('option');
                        o.value = subValue;
                        o.innerHTML = subtitle;
                        document.getElementById("secondDropdown"+n).appendChild(o);
                    }
                }
            }


            function addNewTechnique(n) {
            /** 
            * Add another dropdown box to list another technique
            * @param {number} n - The position of the dropdown in the list of dropdowns
            */
                

                var fb = document.createElement('div');
                fb.id = 'formBox'+n;
                fb.style = "padding-top: 2vh;"
                var sfb = document.createElement('div');
                sfb.id = 'secondFormBox'+n;
                document.getElementById('techniques').appendChild(fb);
                document.getElementById('techniques').appendChild(sfb);

                var s = document.createElement('select');
                s.id = 'dropdown'+n;
                s.required = true;
                s.name = 'act'+n;
                s.setAttribute("onchange", "subtitleExists("+n+")");
                document.getElementById('formBox'+n).appendChild(s);

                var o = document.createElement('option');
                o.value = "";
                o.selected = true;
                o.disabled = true;
                o.hidden = true;
                o.innerHTML = 'Airway Clearance Technique';
                document.getElementById('dropdown'+n).appendChild(o);
                populateTechniquesBox(n);
            }

            var counter = 0;


            function incrementCounter() {
                /** 
                * @summary Increment the technique counter and add another technique box
                */
                counter++;
                addNewTechnique(counter);
                if (counter > 0) {
                    document.getElementById("removeButtonDiv").innerHTML = '<button class="optionButton" type="button" id="removeButton" onclick="removeTechnique()" style="margin: auto;">&#8211;</button>';
                    document.getElementById("removeButtonDiv").style.display = "inline-block"
                }
                document.getElementById("maxCounter").innerHTML = "<input type='hidden' name='maxCounter' value='" + Math.max(counter, adjunctCounter) + "'>";
            }

            function removeTechnique() {
                /** 
                * Brief description of the function here.
                * @summary Decrement the technique counter and remove a technique box
                */
                if (counter > 0) {
                    document.getElementById("formBox"+counter).remove();
                    document.getElementById("secondFormBox"+counter).remove();
                    counter--;
                    document.getElementById("maxCounter").innerHTML = "<input type='hidden' name='maxCounter' value='" + Math.max(counter, adjunctCounter) + "'>";
                    if (counter == 0) {
                        document.getElementById("removeButtonDiv").innerHTML = "";
                        document.getElementById("removeButtonDiv").style.display = "none";
                    }
                }
                
            }

            

            function populateDurationsBox() {
                /** 
                * @summary Populate the durations dropdown with its options
                * @param {ParamDataTypeHere} parameterNameHere - Brief description of the parameter here. Note: For other notations of data types, please refer to JSDocs: DataTypes command.
                * @return {ReturnValueDataTypeHere} Brief description of the returning value here.
                */
                
                var durations = <%- durations %>;
                for (var i = 0; i < durations['results'].length; i++) {
                    var o = document.createElement('option');
                    o.value = durations['results'][i].durationID;
                    o.innerHTML = durations['results'][i].duration;
                    document.getElementById('durationDropdown').appendChild(o);
                }
            }

            populateDurationsBox();

            
            function populateFrequenciesBox() {
                /** 
                * @summary Populate the frequencies dropdown with its options
                */

                var frequencies = <%- frequencies %>;
                for (var i = 0; i < frequencies['results'].length; i++) {
                    var o = document.createElement('option');
                    o.value = frequencies['results'][i].frequencyID;
                    o.innerHTML = frequencies['results'][i].frequency;
                    document.getElementById('frequencyDropdown').appendChild(o);
                }
            }

            populateFrequenciesBox();

            function populateAdjunctsBox(n) {
                /** 
                * @summary Populate the adjuncts box with its options
                * @param {number} n - The position of the dropdown in the list of dropdowns
                */
                
                var adjuncts = <%- adjuncts %>;
                for (var i = 0; i < adjuncts['results'].length; i++) {
                    var o = document.createElement('option');
                    o.value = adjuncts['results'][i].adjunctID;
                    o.innerHTML = adjuncts['results'][i].adjunctTitle;
                    document.getElementById('adjunctDropdown'+n).appendChild(o);
                }
            }

            populateAdjunctsBox(0);

            function populateAdjunctTimeBox(n) {
                /** 
                * @summary Populate the adjunct times box with its options
                * @param {number} n - The position of the dropdown in the list of dropdowns
                */
                var adjunctTimes = <%- adjunctTimes %>;
                document.getElementById("adjunctTimeDiv"+n).innerHTML = '<select id="adjunctTime'+n+'" name="adjunctTime'+n+'" required></select>';
                var ot = document.createElement('option');
                ot.value = "";
                ot.selected = true;
                ot.disabled = true;
                ot.hidden = true;
                ot.innerHTML = 'Time of Adjunct';
                document.getElementById("adjunctTime"+n).appendChild(ot);

                for (var i = 0; i < adjunctTimes['results'].length; i++) {
                    var o = document.createElement('option');
                    o.value = adjunctTimes['results'][i].adjunctTimeID;
                    o.innerHTML = adjunctTimes['results'][i].adjunctTime;
                    document.getElementById('adjunctTime'+n).appendChild(o);
                }
            }

            var adjunctCounter = 0;

            function addAdjunctBox(n) {
            /** 
            * @summary Add another adjuncts box
            * @param {number} n - The position of the dropdown in the list of dropdowns
            */
                
                d = document.createElement('div');
                d.id = 'adjunctDiv'+n;
                d.style = "padding-top: 2vh;"
                document.getElementById('adjuncts').appendChild(d);

                s = document.createElement('select');
                s.id = 'adjunctDropdown'+n;
                s.name = 'adjuncts'+n;
                s.setAttribute("onchange", "populateAdjunctTimeBox("+n+")");
                document.getElementById('adjunctDiv'+n).appendChild(s);

                o = document.createElement('option');
                o.value = "";
                o.selected = true;
                o.disabled = true;
                o.hidden = true;
                o.innerHTML = 'Adjunct Medication';
                document.getElementById('adjunctDropdown'+n).appendChild(o);

                dt = document.createElement('div');
                dt.id = 'adjunctTimeDiv'+n;
                document.getElementById('adjuncts').appendChild(dt);

                populateAdjunctsBox(n);
                
            }


            function incrementAdjunctCounter() {
            /** 
            * @summary Increment the adjuncts counter and add another adjuncts dropdown
            */
                adjunctCounter++;
                console.log('adjunctCounter: ', adjunctCounter);
                addAdjunctBox(adjunctCounter);
                document.getElementById("maxCounter").innerHTML = "<input type='hidden' name='maxCounter' value='" + Math.max(counter, adjunctCounter) + "'>";
                if (adjunctCounter > 0) {
                    document.getElementById("removeAdjunctButtonDiv").innerHTML = '<button class="optionButton" type="button" onclick="removeAdjunct()">&#8211;</button>';
                    document.getElementById("removeAdjunctButtonDiv").style.display = "inline-block";
                }
            }

            function removeAdjunct() {
                /** 
                * @summary Decrement the adjuncts counter and remove an adjuncts dropdown
                */
                
                if (adjunctCounter > 0) {
                    document.getElementById("adjunctDiv"+adjunctCounter).remove();
                    document.getElementById("adjunctTimeDiv"+adjunctCounter).remove();
                    adjunctCounter--;
                    document.getElementById("maxCounter").innerHTML = "<input type='hidden' name='maxCounter' value='" + Math.max(counter, adjunctCounter) + "'>";
                    console.log('adjunctCounter: ', adjunctCounter);
                    if (adjunctCounter == 0) {
                        document.getElementById("removeAdjunctButtonDiv").innerHTML = "";
                        document.getElementById("removeAdjunctButtonDiv").style.display = "none";
                    }
                }
            }


            var modal = document.getElementById("myModal");
            var helpModal = document.getElementById("helpModal");
            var span = document.getElementsByClassName("close");

            span[0].onclick = function() {
                modal.style.display = "none";
            }

            span[1].onclick = function() {
                helpModal.style.display = "none";
            }

            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                } else if (event.target == helpModal) {
                    helpModal.style.display = "none";
                }
            }

            function openModal() {
                modal.style.display = "block";
            }

            function openHelpModal() {
                helpModal.style.display = "block";
            }

            function loadingModal() {
                var techniqueVal = document.getElementById('dropdown0').value;
                var durationVal = document.getElementById('durationDropdown').value;
                var frequencyVal = document.getElementById('frequencyDropdown').value;
                
                console.log('form values: ', techniqueVal, durationVal, frequencyVal)

                if ((techniqueVal) && (durationVal) && (frequencyVal) && (navigator.onLine)) {
                    // console.log('reason value: ', document.getElementById('reason').value);
                    setTimeout(function() {
                        document.getElementById('loadingModal').style.display = "block";
                    }, 1500)
                    
                }
            }

            function isOnline() {
                /** 
                * Check if browser is current online, return false if not
                * @return {Boolean} false
                */
                
                if (!(navigator.onLine)) {
                    alert("Cannot update while offline");
                    return false;
                }
            }


        </script>

        <br><br><br>
      
    </body>
</html>