<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="manifest" href="/manifest.json">
        <script type="module" src="/pwabuilder-sw-register.js"></script>
        <script type="text/javascript" src="/javascripts/logout.js"></script> 
        <script type="text/javascript" src="/javascripts/getCook.js"></script> 
        <script type="text/javascript" src="/javascripts/logout.js"></script> 
        <!-- <script type="text/javascript" src="/javascripts/selectStyling.js"></script>  -->
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    </head>
    <body>
        <div class="container" style="display: table;">

            <img id="backArrowButton" src="./images/backArrowIcon.png" onclick="window.history.back()"  style="position: absolute; height: 4vh; top: 2vh; left: 2vw; cursor: pointer">

            <h1 style="margin-top: 9vh"><%= title %></h1>
            <!-- <p>What's your normal airway clearance routine?</p> -->

            <a style="position:absolute; height: 3vh; right: 2vw; top:2vh; cursor:pointer" onclick="openModal()">
                <img id="hamburgerButton" src="./images/hamburgerDots.png" height="100%">
            </a>

            <a style="position:absolute; height: 3vh; right: 10vw; top:2vh; cursor:pointer" onclick="openHelpModal()">
                <!-- <img id="helpButton" src="./images/hamburgerDots.png" height="100%"> -->
                <button class="optionButton" style="font-size: 10pt">?</button>
            </a>

            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p id="modalText" onclick="logout()">Log Out</p>
                </div>
            </div>

            <div id="helpModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p id="modalText" style="letter-spacing: 0; cursor:default" onclick="">Are we missing a part of your routine? <br> Let us know: <br> e.main@ucl.ac.uk</p>
                </div>
            </div>
            

            <div id="mainAction" style="max-width: 400px; margin: auto" >
                
                <form action="/scheduleData" method="POST" id="activityForm">

                    <div id='techniques'>
                        <div id="formBox0">
                            <select id="dropdown0" name="act0" onchange="subtitleExists(0)" required>
                                <option value="" selected disabled hidden>Airway Clearance Technique</option>
                            </select>
                            <br>
                        </div>
                        <div id="secondFormBox0">
                        </div>
                    
                    </div>

                    <div style="width: 100%">
                        <div id="addButtonDiv" style="display: inline-block; padding-top: 2vh">
                            <button class="optionButton" type="button" onclick="incrementCounter()" style="margin: auto;">+</button>
                        </div>
                        

                        <div id=removeButtonDiv style="display: none; padding-left: 2vw; padding-top: 2vh">
                        </div>
                    </div>

                    

                    <br><br>

                    <div id="duration">
                        <select id='durationDropdown' name="duration" required>
                            <option value="" selected disabled hidden>Duration per Session</option>
                        </select>
                    </div>

                    <br><br>

                    <div id="frequency">
                        <select id='frequencyDropdown' name="frequency" required>
                            <option value="" selected disabled hidden>Frequency per Day</option>
                            <!-- <option value=1>Once</option>
                            <option value=2>Twice</option>
                            <option value=3>Three times</option>  -->
                        </select>
                    </div>

                    <br><br>

                    <div id="adjuncts">
                        <div id="adjunctDiv0">
                            <select id="adjunctDropdown0" name="adjuncts0" onchange="populateAdjunctTimeBox(0)">
                                <option value="" selected disabled hidden>Adjunct Medication</option>
                            </select>
                        </div>
                        <div id="adjunctTimeDiv0">

                        </div>
                        
                    </div>
                    <div style="width: 100%">
                        <div id="addAdjunctButtonDiv" style="display: inline-block; padding-top: 2vh">
                            <button class="optionButton" type="button" onclick="incrementAdjunctCounter()">+</button>
                        </div>
                        
                        <div id=removeAdjunctButtonDiv style="display: none; padding-left: 2vw; padding-top: 2vh">
                            <!-- <button type="button" onclick="removeAdjunct()">Remove Adjunct</button> -->
                        </div>
                    </div>
                    

                    <a id="date"></a>
                    <a id="saveAsNormal"></a>
                    <a id="user"></a>
                    <a id="activityType"></a>
                    <a id="chosenDate"></a>
                    <a id="maxCounter">
                        <input type='hidden' name='maxCounter' value=0>
                    </a>
                    
                    <br><br>

                    <button class="navButton" style="margin-bottom: 3vh;" type="submit" value="Submit">
                        <img id="tickButton" src="images/tickIcon.png" style="height:4vh">
                    </button>
                </form>
            </div>  
        </div>


        <script>

            if (!(navigator.onLine) && (!(getCook('accessToken')))) {
                window.location.href = "/loginUser"
            }
            // var today = new Date();
            // var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
            // console.log(date);

            // console.log('saveAsNormal: ', <%- saveAsNormal %>);

            // const queryString = window.location.search;
            // const urlParams = new URLSearchParams(queryString);
            // var saN = urlParams.get('n');
            // if (saN) {
            //     var saveAsNormal = false;
            // } else {
            //     var saveAsNormal = <%- saveAsNormal %>;
            // }

            var url = new URL(document.URL);
            // console.log('url: ', url.pathname);
            // console.log('index', url.pathname.indexOf('logNew'))
            // console.log(url.pathname.indexOf('logNew') !== -1)
            if (url.pathname.indexOf('logNew') !== -1) {
                var path = "../images/";
            } else {
                var path = "./images/";
            }

            document.getElementById("backArrowButton").src = path + 'backArrowIcon.png';
            document.getElementById("hamburgerButton").src = path + 'hamburgerDots.png';
            document.getElementById("tickButton").src = path + 'tickIcon.png';


            var saveAsNormal = <%- saveAsNormal %>;

            console.log('saveAsNormal: ', saveAsNormal);

            // Add these to forms
            var activityType = <%- activityType %>;
            var chosenDate = <%- chosenDate %>;
            console.log('activityType and Date: ', activityType, chosenDate);

            var savedSched = <%- sched %>;
            
            if (activityType) {
                console.log('activityType: ', activityType);
                document.getElementById("activityType").innerHTML += "<input type='hidden' name='activityType' value='" + activityType + "'>";
            }
            if (chosenDate) {
                console.log('chosenDate:', chosenDate);
                document.getElementById("chosenDate").innerHTML += "<input type='hidden' name='chosenDate' value='" +chosenDate + "'>";
            }
            
            


            // document.getElementById("date").innerHTML += "<input type='hidden' name='date' value='" + date + "'>";
            document.getElementById("saveAsNormal").innerHTML += "<input type='hidden' name='saveAsNormal' value='" + saveAsNormal + "'>";
            document.getElementById("user").innerHTML += "<input type='hidden' name='user' value='" + <%- user %> + "'>";

            function populateTechniquesBox(n) {
                var options = <%- techniques %>;
                var techList = [];
                var typeList = [];
                for (var i = 0; i < options['results'].length; i++) {
                    // console.log(options['results'][i]);
                    if (!typeList.includes(options['results'][i].techniqueType)) {
                        typeList.push(options['results'][i].techniqueType);
                        var og = document.createElement('optgroup');
                        og.label = options['results'][i].techniqueType;
                        // og.innerHTML = 'label=' + options['results'][i].techniqueType;
                        // dropdownLabel = '<optgroup label=' + options['results'][i].techniqueType + '>'
                        document.getElementById("dropdown"+n).appendChild(og);
                    }
                    if (!techList.includes(options['results'][i].title)) {
                        techList.push(options['results'][i].title);
                        var o = document.createElement('option');
                        o.value = options['results'][i].techniqueID;
                        o.innerHTML = options['results'][i].title;
                        // dropdownOptions = '<option value=' + options['results'][i].techniqueID + '>' + options['results'][i].title + '</option>';
                        document.getElementById("dropdown"+n).appendChild(o);
                    }
                }
            }

            populateTechniquesBox(0);
            
            function subtitleExists(n) {
                var value = document.getElementById("dropdown"+n).value;
                console.log('chosen value: ', value);
                var options = <%- techniques %>;
                // for each row in results
                for (var i = 0; i < options['results'].length; i++) {
                   
                    // if the ID matches the ID of selected value
                    if (options['results'][i].techniqueID == value) {
                        var subtitle = options['results'][i].subtitle;
                     
                        // Check to see if there's a subtitle. If there is, we need another box
                        if (!(subtitle == null)) {
                            var title = options['results'][i].title;
                            return addBox(title, n);
                        }
                        else {
                            document.getElementById("secondFormBox"+n).innerHTML = "";
                        }
                    } 
                }
            }

            function addBox(title, n) {
                var options = <%- techniques %>;
                document.getElementById("secondFormBox"+n).innerHTML = '<select id="secondDropdown'+n+'" name=subact'+n+' required></select>';
                // var secondDropdownHTML = '<option value="" selected disabled hidden>Type of '+title+'</option>';
                var ot = document.createElement('option');
                ot.value = ""
                ot.selected = true;
                ot.disabled = true;
                ot.hidden = true;
                ot.innerHTML = 'Type of ' + title;
                document.getElementById("secondDropdown"+n).appendChild(ot);
                for (var i = 0; i < options['results'].length; i++) {
                    var subtitle = options['results'][i].subtitle;
                    var subValue = options['results'][i].techniqueID;
                    if (options['results'][i].title == title) {
                        var o = document.createElement('option');
                        o.value = subValue;
                        o.innerHTML = subtitle;
                        // var secondDropdownHTMLOptions = '<option value=' + subValue + '>' + subtitle + '</option>';
                        document.getElementById("secondDropdown"+n).appendChild(o);
                    }
                }
            }

            function addNewTechnique(n) {
                // add IF statement to catch box already existing?

                // if (document.getElementById('formBox'+n)) {
                //     console.log('element already exists');
                //     document.getElementById('formBox'+n).remove()
                // }

                var fb = document.createElement('div');
                fb.id = 'formBox'+n;
                fb.style = "padding-top: 2vh;"
                // fb.style.display = "block";
                var sfb = document.createElement('div');
                sfb.id = 'secondFormBox'+n;
                // sfb.style.display = "block";
                document.getElementById('techniques').appendChild(fb);
                document.getElementById('techniques').appendChild(sfb);

                var s = document.createElement('select');
                s.id = 'dropdown'+n;
                s.required = true;
                s.name = 'act'+n;
                s.setAttribute("onchange", "subtitleExists("+n+")");
                // console.log(s);
                document.getElementById('formBox'+n).appendChild(s);

                var o = document.createElement('option');
                o.value = "";
                o.selected = true;
                o.disabled = true;
                o.hidden = true;
                o.innerHTML = 'Airway Clearance Technique';
                document.getElementById('dropdown'+n).appendChild(o);
                populateTechniquesBox(n);
            }

            var counter = 0;


            function incrementCounter() {
                counter++;
                console.log('counter: ', counter);
                addNewTechnique(counter);
                if (counter > 0) {
                    document.getElementById("removeButtonDiv").innerHTML = '<button class="optionButton" type="button" id="removeButton" onclick="removeTechnique()" style="margin: auto;">&#8211;</button>';
                    document.getElementById("removeButtonDiv").style.display = "inline-block"
                }
                document.getElementById("maxCounter").innerHTML = "<input type='hidden' name='maxCounter' value='" + Math.max(counter, adjunctCounter) + "'>";
            }

            function removeTechnique() {
                if (counter > 0) {
                    // document.getElementById("formBox"+counter).innerHTML = "";
                    // document.getElementById("secondFormBox"+counter).innerHTML = "";
                    // document.getElementById("formBox"+counter).style = "padding-top: 0";
                    // document.getElementById("secondFormBox"+counter).style.display = "none";
                    document.getElementById("formBox"+counter).remove();
                    document.getElementById("secondFormBox"+counter).remove();
                    counter--;
                    document.getElementById("maxCounter").innerHTML = "<input type='hidden' name='maxCounter' value='" + Math.max(counter, adjunctCounter) + "'>";
                    if (counter == 0) {
                        document.getElementById("removeButtonDiv").innerHTML = "";
                        document.getElementById("removeButtonDiv").style.display = "none";
                    }
                    // console.log('counter: ', counter);
                }
                
            }

            

            function populateDurationsBox() {
                var durations = <%- durations %>;
                for (var i = 0; i < durations['results'].length; i++) {
                    var o = document.createElement('option');
                    o.value = durations['results'][i].durationID;
                    o.innerHTML = durations['results'][i].duration;
                    document.getElementById('durationDropdown').appendChild(o);
                }
            }

            populateDurationsBox();

            
            function populateFrequenciesBox() {
                var frequencies = <%- frequencies %>;
                for (var i = 0; i < frequencies['results'].length; i++) {
                    var o = document.createElement('option');
                    o.value = frequencies['results'][i].frequencyID;
                    o.innerHTML = frequencies['results'][i].frequency;
                    document.getElementById('frequencyDropdown').appendChild(o);
                }
            }

            populateFrequenciesBox();

            function populateAdjunctsBox(n) {
                var adjuncts = <%- adjuncts %>;
                // console.log(adjuncts);
                for (var i = 0; i < adjuncts['results'].length; i++) {
                    var o = document.createElement('option');
                    o.value = adjuncts['results'][i].adjunctID;
                    o.innerHTML = adjuncts['results'][i].adjunctTitle;
                    document.getElementById('adjunctDropdown'+n).appendChild(o);
                }
            }

            populateAdjunctsBox(0);

            function populateAdjunctTimeBox(n) {
                var adjunctTimes = <%- adjunctTimes %>;
                // console.log(adjunctTimes);
                document.getElementById("adjunctTimeDiv"+n).innerHTML = '<select id="adjunctTime'+n+'" name="adjunctTime'+n+'" required></select>';
                var ot = document.createElement('option');
                ot.value = "";
                ot.selected = true;
                ot.disabled = true;
                ot.hidden = true;
                ot.innerHTML = 'Time of Adjunct';
                document.getElementById("adjunctTime"+n).appendChild(ot);

                for (var i = 0; i < adjunctTimes['results'].length; i++) {
                    var o = document.createElement('option');
                    o.value = adjunctTimes['results'][i].adjunctTimeID;
                    o.innerHTML = adjunctTimes['results'][i].adjunctTime;
                    document.getElementById('adjunctTime'+n).appendChild(o);
                }
            }

            var adjunctCounter = 0;

            function addAdjunctBox(n) {
                d = document.createElement('div');
                d.id = 'adjunctDiv'+n;
                d.style = "padding-top: 2vh;"
                document.getElementById('adjuncts').appendChild(d);

                s = document.createElement('select');
                s.id = 'adjunctDropdown'+n;
                s.name = 'adjuncts'+n;
                s.setAttribute("onchange", "populateAdjunctTimeBox("+n+")");
                document.getElementById('adjunctDiv'+n).appendChild(s);

                o = document.createElement('option');
                o.value = "";
                o.selected = true;
                o.disabled = true;
                o.hidden = true;
                o.innerHTML = 'Adjunct Medication';
                document.getElementById('adjunctDropdown'+n).appendChild(o);


                dt = document.createElement('div');
                dt.id = 'adjunctTimeDiv'+n;
                document.getElementById('adjuncts').appendChild(dt);

                populateAdjunctsBox(n);
                
            }

            function incrementAdjunctCounter() {
                adjunctCounter++;
                console.log('adjunctCounter: ', adjunctCounter);
                addAdjunctBox(adjunctCounter);
                document.getElementById("maxCounter").innerHTML = "<input type='hidden' name='maxCounter' value='" + Math.max(counter, adjunctCounter) + "'>";
                if (adjunctCounter > 0) {
                    document.getElementById("removeAdjunctButtonDiv").innerHTML = '<button class="optionButton" type="button" onclick="removeAdjunct()">&#8211;</button>';
                    document.getElementById("removeAdjunctButtonDiv").style.display = "inline-block";
                }
            }

            function removeAdjunct() {
                if (adjunctCounter > 0) {
                    // document.getElementById("adjunctDiv"+adjunctCounter).innerHTML = "";
                    // document.getElementById("adjunctTimeDiv"+adjunctCounter).innerHTML = "";
                    document.getElementById("adjunctDiv"+adjunctCounter).remove();
                    document.getElementById("adjunctTimeDiv"+adjunctCounter).remove();
                    adjunctCounter--;
                    document.getElementById("maxCounter").innerHTML = "<input type='hidden' name='maxCounter' value='" + Math.max(counter, adjunctCounter) + "'>";
                    console.log('adjunctCounter: ', adjunctCounter);
                    if (adjunctCounter == 0) {
                        document.getElementById("removeAdjunctButtonDiv").innerHTML = "";
                        document.getElementById("removeAdjunctButtonDiv").style.display = "none";
                    }
                    
                }
                
            }

            
            var modal = document.getElementById("myModal");
            var helpModal = document.getElementById("helpModal");

            var span = document.getElementsByClassName("close");

            span[0].onclick = function() {
                modal.style.display = "none";
            }

            span[1].onclick = function() {
                helpModal.style.display = "none";
            }

            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                } else if (event.target == helpModal) {
                    helpModal.style.display = "none";
                }
            }

            function openModal() {
                // document.getElementById('modalText').innerHTML = '<p style="text-align: center">'+date+'</p>';
                // routineDescription(activities[date], 'modalText');
                modal.style.display = "block";
            }

            function openHelpModal() {
                helpModal.style.display = "block";
            }


        </script>

        <br>
        <!-- <button onclick="incrementCounter()">Add Another Technique</button> -->



        <!-- <script>
            function deleteAllCookies() {
              var cookies = document.cookie.split(";");
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = cookies[i];
                  var eqPos = cookie.indexOf("=");
                  var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
                  document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
              }
              location.reload();
            } 
          </script> -->
          <br><br>
      
          <button onclick="logout()">Log Out</button>

    </body>
</html>