<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="manifest" href="/manifest.json">
        <script type="module" src="/pwabuilder-sw-register.js"></script>
        <script type="text/javascript" src="/javascripts/getCook.js"></script> 
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    </head>
    <body>

        <div class="container">

            <h1><%= title %></h1>
            <!-- <p> Welcome, user <%= user %></p> -->

            <div id="routineDescription">
                
            </div>

            <button class="navButton" style="margin: auto; margin-top: 5vh;" onclick='window.location="/myRoutines"'>
                <img id="myRoutinesButton" src="./images/myRoutinesIcon.png" height="100%">
            </button>

            <!-- <dl> -->
                <!-- <a id="techniques">
                    <dt>Techniques:</dt> -->
                        <!-- <dd>- black hot drink</dd> -->
                <!-- </a>
                <br>
                <a id="duration">
                    <dt>Duration: <%= duration %></dt> -->
                        <!-- <dd>- white cold drink</dd> -->
                <!-- </a>
                <br>
                <a id="frequency">
                    <dt>Frequency: <%= frequency %></dt> -->
                        <!-- <dd>- white cold drink</dd> -->
                <!-- </a>
                <br>
                <a id="adjuncts"> -->
                    <!-- <dt>Adjuncts:</dt> -->
                        <!-- <dd>- white cold drink</dd> -->
                <!-- </a>
                
            </dl> -->

            <!-- <br><br>
            <a href="/myRoutines">
                <button>See My Routines</button>
            </a>

            <br><br>
            <a href="/">
                <button>Log Activity</button>
            </a> -->

            <div id="navButtonContainer">
                <!-- <a href="/normalRoutine"> -->
                    <button class="navButtonDisabled" style="margin-right: 5vw; border: #2FB9CA; border-width: thick; border-style: solid;">
                        <img id="normalRoutineButton" src="./images/Sample_User_Icon.png" height="100%">
                    </button>
                <!-- </a> -->
                    <!-- <button class="navButton" style="margin: auto; height: 13vh; width: 13vh" onclick='window.location="/normalRoutine"'><img id="mainButton" height="100%"></button> -->
                    <button class="navButton" style="margin: auto; height: 13vh; width: 13vh" onclick='window.location="/"'>
                        <img id="mainButton" src="./images/circleIcon.png" height="100%">
                    </button>
                <!-- <a href="/calendar"> -->
                    <button class="navButton" style="margin-left: 5vw" onclick='window.location="/calendar"'>
                        <img id="calendarButton" src="./images/Calendar_Icon.png" height="100%">
                    </button>
                <!-- </a> -->
                
            </div>

        </div>


        <script>
            var techniques = <%- techniques %>;
            var duration = <%- duration %> ;
            var frequency = <%- frequency %> ;
            var adjuncts = <%- adjuncts %>;

            function populateRoutineSection() {
                // console.log(techniques);
                // console.log(duration);
                // console.log(frequency);
                // console.log(adjuncts);


                document.getElementById('routineDescription').style['background-color'] = 'rgba(222, 227, 238, 0.7)';
                document.getElementById('routineDescription').style['padding'] = '2vh';
                document.getElementById('routineDescription').style['width'] = '80%';
                document.getElementById('routineDescription').style['max-width'] = '400px';
                document.getElementById('routineDescription').style['margin'] = 'auto';
                document.getElementById('routineDescription').style['max-height'] = '42vh';
                document.getElementById('routineDescription').style['overflow'] = 'scroll';
                document.getElementById('routineDescription').style['border-radius'] = '10px';

                var table = document.createElement('table');
                table.setAttribute("id", "routineTable");
                document.getElementById('routineDescription').appendChild(table);

                document.getElementById("routineTable").innerHTML += "<tr><td><img src='./images/techniquesIcon.png' style='max-height: 6vh;'><td><td><div id='techniques'></div></td></tr>";

                for (i=0; i<techniques.length; i++) {
                    document.getElementById("techniques").innerHTML += '<dd style="font-size: 10pt; margin-top:10px">' + techniques[i] + '</dd>';
                }

                document.getElementById("routineTable").innerHTML += "<tr><td><img src='./images/durationIcon.png' style='max-height: 6vh;'><td><td><div id='duration'></div></td></tr>";
                document.getElementById("duration").innerHTML += '<dd style="font-size: 10pt; margin-top:10px">' + duration + '</dd>';

                document.getElementById("routineTable").innerHTML += "<tr><td><img src='./images/frequencyIcon.png' style='max-height: 6vh;'><td><td><div id='frequency'></div></td></tr>";
                document.getElementById("frequency").innerHTML += '<dd style="font-size: 10pt; margin-top:10px">' + frequency + '</dd>';

                if (adjuncts) {
                    document.getElementById("routineTable").innerHTML += "<tr><td><img src='./images/adjunctsIcon.png' style='max-height: 6vh;'><td><td><div id='adjuncts'></div></td></tr>";
                    for (i=0; i<adjuncts.length; i++) {
                        document.getElementById("adjuncts").innerHTML += '<dd style="font-size: 10pt; margin-top:10px">' + adjuncts[i][0] + ' ('+ adjuncts[i][1] +')</dd>';

                    }
                }  
            }

            populateRoutineSection();
            


            if (!(navigator.onLine) && (!(getCook('accessToken')))) {
                window.location.href = "/loginUser"
            }

            // var techniques = <%- techniques %>;
            console.log('techniques: ', techniques);
            // for (var i = 0; i < techniques.length; i++) {
            //     document.getElementById('techniques').innerHTML += "<dd>- " + techniques[i] + "</dd>";
            // }

            // var duration = <%- duration %>;
            console.log('duration: ', duration);

            // var frequency = <%- frequency %>;
            console.log('frequency: ', frequency);

            // var adjuncts = <%- adjuncts %>;
            console.log('adjuncts: ', adjuncts)
            // if (adjuncts) {
            //     document.getElementById('adjuncts').innerHTML += "<dt>Adjuncts: </dd>";
            //     for (var i = 0; i < adjuncts.length; i++) {
            //         document.getElementById('adjuncts').innerHTML += "<dd>- " + adjuncts[i][0] + " (" + adjuncts[i][1] + ")" + "</dd>";
            //     }
            // }

            
            
        
        </script>
  


    </body>
</html>